@charset "UTF-8";
/**
 * #SETTINGS
 */
/**
 * #TOOLS
 */
/**
 * #ELEMENTS
 */
/*------------------------------------*    #PAGE
\*------------------------------------*/
:root {
    overflow-y: scroll;
    box-sizing: border-box;
    min-height: 100%;
    color: #50585d; 
    background-color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    cursor: default;
    text-rendering: optimizeLegibility;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/**
 * Universal selector. This is applied to all elements.
 */
* {
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle; 
    word-wrap: break-word;
    -webkit-transition: 0.35s;
    transition: 0.35s;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

*,
::after,
::before {
    box-sizing: inherit;
    border-width: 0; 
    border-style: solid;
}

::after,
::before {
    vertical-align: inherit;
    text-decoration: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}

body {
    color: #50585d; 
    background-color: #fffaf5;
}
@media screen and (max-width: 35.5em) {
    body {
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 1.6;
    }
}

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

hr {
    display: block;
    height: 1px;
    margin: 24px 0; 
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

span {
    display: inline-block;
    vertical-align: baseline;
}

::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

canvas {
    -ms-touch-action: double-tap-zoom;
}

iframe[src*="google.com/maps"] {
    width: 100%; 
    max-width: 100%;
}

[hidden],
audio:not([controls]),
template {
    display: none;
}

@media screen {
    [hidden~=screen] {
        display: inherit;
    }
    [hidden~=screen]:not(:active):not(:focus):not(:target) {
        clip: rect(0 0 0 0) !important;
        position: absolute !important;
    }
}

h1 {
    margin: 24px 0 12px; 
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.3333333333;
}

h2 {
    margin: 24px 0 6px; 
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6;
}

h3 {
    margin: 24px 0 6px; 
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
}

h4 {
    margin: 24px 0 6px; 
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}

h5 {
    margin: 24px 0 6px; 
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h6 {
    margin: 24px 0 6px; 
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.7142857143;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    opacity: 0.7; 
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}

dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
    margin-bottom: 24px;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small {
    color: #777; 
    font-size: 75%;
}

big {
    font-size: 125%;
}

a {
    background-color: transparent;
    text-decoration: none;
}
a:active,
a:hover,
a:focus {
    outline: 0;
    opacity: 0.7;
    text-decoration: none;
}

dl {
    margin-bottom: 24px;
}

dd {
    margin-left: 48px;
}

ul,
ol {
    margin-bottom: 24px;
    padding-left: 24px;
    text-align: left; 
    list-style-position: outside;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

/*------------------------------------*    #IMAGES
\*------------------------------------*/
img {
    max-width: 100%;
    height: auto;
    border: 0;
    font-style: italic;
    vertical-align: baseline;
}

svg:not(:root) {
    overflow: hidden;
}

/**
 * Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 */
.gm-style img {
    max-width: none;
}

/*------------------------------------*    #BLOCKQUOTES
\*------------------------------------*/
blockquote {
    margin-bottom: 24px;
    padding-left: 24px; 
    border-left: 0.2rem solid currentColor;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
}
blockquote p {
    color: #9ca5aa;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.4117647059;
}
blockquote p + p {
    margin-bottom: 0;
}

blockquote blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

blockquote cite {
    display: block;
    margin-top: 12px;
    margin-top: 12px; 
    padding-top: 13px;
    font-family: "Lato", sans-serif;
    font-size: 80%;
    font-weight: 500;
    font-style: normal;
}

blockquote cite::before {
    padding-right: 10px; 
    content: "\2014";
}

@media screen and (min-width: 48em) {
    .pullquote.alignright {
        max-width: 50%;
    }
    .pullquote.alignleft {
        max-width: 50%;
    }
}

table {
    width: 100%;
    margin-bottom: 24px;
    border-spacing: 0; 
    border-collapse: collapse;
}

caption {
    padding: 12px 0;
}

thead th {
    background-color: #efefef;
}

tr {
    margin-bottom: 12px; 
    background-color: #fff;
}

th,
td {
    padding: 12px 6px;
    border: 0.1rem solid #e4e9eb;
    text-align: center;
}

tfoot tr {
    background: none;
}

tfoot td {
    padding: 24px 6px; 
    font-size: 14px;
    font-style: italic;
}

input:not([type="submit"]),
select,
textarea {
    display: inline-block;
    width: 100%;
    min-height: 48px;
    padding: 0 24px; 
    border: 1px solid #e4e9eb;
    border-radius: 2px;
    background-color: #e4e9eb;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}

input[type="color"] {
    padding: 12px 24px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #6c8cc8;
    outline: 0;
    background-color: #fff;
}

input[type=number] {
    width: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

progress {
    display: inline-block;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 0.1rem solid thin #50585d;
}

input[disabled],
select[disabled],
textarea[disabled] {
    color: #9ca5aa;
    background-color: #ebebeb;
    cursor: not-allowed;
}

input[readonly],
select[readonly],
textarea[readonly] {
    border-color: #e4e9eb;
    color: #9ca5aa; 
    background-color: #ebebeb;
}

select {
    border: 1px solid #e4e9eb;
    background-color: #fff;
    text-transform: none;

    -webkit-appearance: none; 
    -moz-appearance: none;
}

select[multiple] {
    height: auto;
}

select::-ms-expand {
    display: none;
}

select::-ms-value {
    color: currentColor;
}

label {
    line-height: 2;
}

fieldset {
    padding: 12px 0;
}

legend {
    display: block;
    width: 100%; 
    margin-bottom: 12px;
    padding: 12px 0;
    border-bottom: 0.1rem solid #e4e9eb;
    color: #50585d;
}

textarea {
    overflow: auto; 
    padding: 24px;
    resize: vertical;
}

[unselectable] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-form,
.post-password-form {
    display: block;
}

.search-form input[type=search],
.post-password-form input[type="password"] {
    width: 100%; 
    margin: 0;
}

.search-form button[type=submit],
.post-password-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    padding: 0 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.post-password-form input[type="submit"] {
    top: auto; 
    height: 48px;
}

.search-form button::before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-decoration: none;
    content: "";
    text-rendering: auto;

    speak: none;
}

.search-form button[type=submit]::before {
    font-size: 18px;
    line-height: 1.625;
}

nav ol,
nav ul {
    padding-top: 24px; 
    list-style: none;
}
