@import url( '../style.min.css' );

/* Styles specific to the editor. */

body#tinymce {
  margin:    0 auto;
  padding:   1.5rem 1.5rem 0;
  border:    none;
}

@media screen and (max-width: 740px) {
    body, img, .wp-caption {
        max-width: 100%;
    }

    img, .wp-caption {
        width: auto !important;
    }
}
