/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

// Preconfigure these settings before the @import of this file.
$btn-color:             inherit !default;
$btn-color-bg:          transparent !default;
$btn-color-bg-hover:    rgba($color-grey-ui-dark,.0625) !default;
$btn-padding-x:         $font-size !default;
$btn-padding-y:         $spacing-small !default;
$btn-font-size:         inherit !default;
$btn-font-family:       inherit !default;


.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    font: inherit;
    text-align: center;
    cursor: pointer;
    background-color: $btn-color-bg;
    border-radius: $radius;
    border: 1px solid transparent;
    padding: $btn-padding-y $btn-padding-x;

    &:hover,
    &:focus {
      outline: 0;
      text-decoration: none;
      background-color: $btn-color-bg-hover;
    }

    &:disabled,
    &.is-disabled {
      opacity: .5;
    }
}

.btn--primary {
  color: white;
  background-color: #0076df;
  border-radius: 3px;
}

.btn--outline,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: $color-text;
    border-color: currentcolor;

    &:hover,
    &:focus {
    border-color: $btn-color-bg-hover;
  }
}

.btn--transparent {
    background-color: transparent;
    color: currentColor;

    &:hover,
    &:focus {
        background-color: $color-shade;
    }
}

/**
 * Provide size variants by halving or doubling the padding of the standard
 * button.
 */
.btn--small {
    padding: round(0.5 * $btn-padding-y) round(0.5 * $btn-padding-x);
    font-size: $font-size - 2;
    letter-spacing: .02em;
}

.btn--large {
    padding: round(1.5 * $btn-padding-y) round(1.5 * $btn-padding-x);
}


/**
 * Create buttons that will fill the entire width of the container they’re
 * placed inside.
 *
 * 1. Remove horizontal paddings so widths and paddings do not compound.
 */
.btn--full {
    padding-right: 0; /* [1] */
    padding-left:  0; /* [1] */
    width: 100%;
}
