/*------------------------------------*\
    #META
\*------------------------------------*/

.entry__meta {
    color: $color-text-light;
    font-weight: normal;
    @include font-size($base-font-size - 1);
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
    a {
        color: currentColor;
        font-weight: inherit;
    }
}

