/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/



.breadcrumbs {
    text-transform: uppercase;
    letter-spacing: .2em;

  li {

  + li:before {
    content: "/\00a0";
    opacity: $opacity;
    }
  }
}


.trail-end span {
    display: none;
}

