/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/



.breadcrumbs {
  //text-align: center;

    //padding: 8px 15px;
    margin-bottom: $spacing;
    list-style: none;
    //background-color: $color-frost;
    //border-radius: $radius;

  li {
    display: inline-block;

  + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
    }
  }
}


.trail-end span {
    display: none;
}

