/*------------------------------------*\
    #SITE-TITLE
\*------------------------------------*/

.site-title,
.site-description,
{
    font-weight: 300;
}

.site-title {
    @include font-size($heading-size-2, 1);
    margin: $spacing 0 $spacing-small;
    a {
        opacity: 1;
        color: currentColor;
    }
}

.site-description {
    @include font-size($heading-size-4, 1);
    margin: $spacing 0 $spacing-small;
    opacity: .8;
}

.entry-title {
    @include font-size($heading-size-2, 1);
    margin: $spacing 0 $spacing-small;
}

.widget-title {
    @include font-size($heading-size-3, 1);
    margin: $spacing 0 $spacing-small;
}

.comments-title {
    @include font-size($heading-size-3, 1);
    margin: $spacing 0 $spacing-small;
}

.comment-reply-title {
    @include font-size($heading-size-4, 1);
    margin: $spacing 0 $spacing-small;
}
