/*------------------------------------*\
    #CODE
\*------------------------------------*/

code,
kbd,
pre,
samp {
    font-family: $font-code;
}

code,
pre {
    @include bg-text($color-code-bg);
    padding: 0 0.5em;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: $base-radius;
    overflow: auto;
}

kbd {
    @include bg-text($blue-grey-50);
    margin: 0 0.25em;
    border: 1px solid $blue-grey-200;
    border-radius: $base-radius;
    padding: 0.3334em 0.5em;
    box-shadow: inset 0 1px 0 #fff;
}

.form-allowed-tags code, pre {
    @include font-size($base-font-size - 1);
    margin-bottom: $base-spacing-unit;
    max-width: 100%;
    overflow: auto;
    border-radius: $base-radius;
    padding: 5px $base-spacing-unit--small;
    tab-size: 4;
}

.form-allowed-button {
    color: $color-text-light;
    cursor: default;
}
