/*    #BUTTONS
\*------------------------------------*/

$btn-bg:                    transparent;
$btn-primary-bg:            $color-primary;
$btn-bg-hover:              $color-primary-light;
$btn-bg-active:             $color-primary-dark;

$btn-color:             inherit !default;
$btn-color-bg:          $color-primary !default;
$btn-color-bg-hover:    $color-primary-light!default;
$btn-padding-x:         $font-size !default;
$btn-padding-y:         $spacing-small !default;
$btn-font-size:         inherit !default;
$btn-font-family:       inherit !default;


.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    letter-spacing: 0.04em;
    display: inline-block;
    font: inherit;
    text-align: center;
    cursor: pointer;
    background-color: $btn-bg;
    border-radius: $radius;
    border: 1px solid transparent;
    padding: $btn-padding-y $btn-padding-x;
    transition: $transition;
    opacity: 1;

    &:hover,
    &:focus {
      outline: 0;
      text-decoration: none;
      background-color: rgba($color-grey-ui-dark,.0625);
    }

    &:disabled,
    &.is-disabled {
      opacity: .5;
    }
}

.btn--primary {
    color: white;
    background-color: $btn-primary-bg;
    &:hover,
    &:focus {
        background-color: $btn-bg-hover;
    }
}

.btn--outline,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: currentcolor;
    border-color: currentcolor;

    &:hover,
    &:focus {
    border-color: $color-primary;
    background-color: $color-primary;
    color: white;
  }
}

.btn--transparent {
    background-color: transparent;
    color: currentColor;

    &:hover,
    &:focus {
        background-color: rgba($grey-800, 0.1);;
    }
}

.btn--small {
    padding: round(0.5 * $btn-padding-y) round(0.5 * $btn-padding-x);
    font-size: $font-size - 2;
    letter-spacing: .02em;
}

.btn--large {
    padding: round(1.5 * $btn-padding-y) round(1.5 * $btn-padding-x);
}

.btn--full {
    padding-right: 0;
    padding-left:  0;
    width: 100%;
}
