///*------------------------------------*\
//    #TABLES
//\*------------------------------------*/

table {
    margin-bottom: $spacing;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    padding: $spacing-small 0;
}

thead th {
    background-color: #efefef;
}

tr {
    background-color: #fff;
    margin-bottom: $spacing-small;
}

th,
td {
    //border: .1rem solid $color-grey-ui;
    padding: $spacing-small $spacing-tiny;
    //text-align: center;
}

tfoot tr {
    background: none;
}

tfoot td {
    font-size: $font-size - 2;
    font-style: italic;
    padding: $spacing $spacing-tiny;
}
