/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    background-color: transparent;
    text-decoration: none;
    opacity: 1;
    color: $color-links;
    transition: $transition ease;
    word-break:     break-word;
    vertical-align: initial;
    -webkit-hyphens: auto;
    -moz-hyphens:    auto;
    hyphens:         auto;

    &:active,
    &:hover,
    &:focus {
        opacity: $opacity;
        outline: 0;
        text-decoration: none;
    }
}
