/*------------------------------------*\
    $MEDIA EMBEDS
\*------------------------------------*/

/**
 * Flexible media embeds
 *
 * Based on: http://alistapart.com/article/creating-intrinsic-ratios-for-video
 */

.flex-embed {
  display: block;
  overflow: hidden;
  position: relative;
}


//The aspect-ratio hack is applied to an empty element because it allows the
//component to respect `max-height`. Default aspect ratio is 1:1.


.flex-embed__ratio {
  display: block;
  padding-bottom: 100%;
  width: 100%;
}


/**
 * Modifier: 16:9 aspect ratio
 */

.flex-embed__ratio--16by9 {
  padding-bottom: 56.25%;
}


/**
 * Modifier: 4:3 aspect ratio
 */

.flex-embed__ratio--4by3 {
  padding-bottom: 75%;
}


.flex-embed > p {
    position: static;
    margin-bottom: 0;
}
/**
 * Fit the content to the aspect ratio
 */

.flex-embed-content,
.flex-embed iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
