/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

$grid-gutter: $spacing-small !default;





.grid {
    margin:  0;
    padding: 0;
    list-style: none;
    margin-left: -$grid-gutter;
}

.grid__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: $grid-gutter;
}


/**
 * Reverse grid items’ direction.
 */
.grid--rev {
  direction: rtl;

  > .grid__item {
    direction: ltr;
  }
}


/**
 * Different sizes of grid item (gutters).
 */
.grid--small {
    margin-left: round(0.5 * -$grid-gutter);

    > .grid__item {
        padding-left: round(0.5 * $grid-gutter);
    }
}

.grid--large {
    margin-left: round(2 * -$grid-gutter);

    > .grid__item {
        padding-left: round(2 * $grid-gutter);
    }
}
