/*------------------------------------*\
    $ARTICLES
\*------------------------------------*/

.page-header {
    display: block;
    width: 100%;
    text-align: center;
}

.entry-title {
    margin-bottom: 0;
}
