// /*------------------------------------*\
//     #MIXINS
// \*------------------------------------*/




// Mixin to create a declaration whose value is a rem unit. Also provide pixel fallback.
//
// .simple-ubempress {
//   @include rem(padding, 10px);
// }

@mixin rem($property, $value) {
    #{$property}: $value;
    #{$property}: rem($value);
}


// Generate `:hover` and `:focus` styles in one go.
@mixin hocus() {
    &:hover,
    &:focus {
        @content;
    }
}

// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value, e.g.:
//
// .foo {
//     @include font-size(10px);
// }

@mixin font-size($font-size, $line-height: auto) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;

    @if $line-height == auto {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }

    @else {

        @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
            line-height: $line-height;
        }

        @elseif ($line-height != none and $line-height != false) {
            @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`."
        }

    }

}



@mixin font-size-sm {
    @include font-size($base-font-size - 2);
}

@mixin font-size-md {
    @include font-size($base-font-size);
}

@mixin font-size-lg {
    @include font-size($heading-size-3);
}

@mixin font-size-xl {
    @include font-size($heading-size-1);
}



//$before: true !default;


@mixin font-icon($icon: $stop, $font-family: $mi, $placement: before) {

    &::#{$placement} {
        content: $icon;
        display: inline-block;
        font-family: $font-family;
        font-size: inherit;
        font-weight: normal;
        speak: none;
        text-decoration: none;
        text-rendering: auto;
        letter-spacing: normal;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Just some helpers...
@mixin sm {
    @include media-query(sm) {
        @content;
    }
}

@mixin md {
    @include media-query(md) {
        @content;
    }
}

@mixin lg {
    @include media-query(lg) {
        @content;
    }
}

@mixin xl {
    @include media-query(xl) {
        @content;
    }
}

@mixin retina {
    @include media-query(retina) {
        @content;
    }
}





@mixin shadow-z1() {
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
}
@mixin shadow-z2() {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.23);
}
@mixin shadow-z3() {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.19), 0 6px 3px 0 rgba(0,0,0,0.23);
}
@mixin shadow-z4() {
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.25), 0 10px 5px 0 rgba(0,0,0,0.22);
}
@mixin shadow-z5() {
  box-shadow: 0 19px 19px 0 rgba(0,0,0,0.30), 0 15px 6px 0 rgba(0,0,0,0.22);
}




@mixin bg-text($bg-color) {
  background-color: $bg-color;
  color: set-text-color($bg-color);
}




/**
 * Copyright 2015 Google Inc. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@mixin typo-base() {
  line-height: 1;
  letter-spacing: -0.01em;
}

@mixin typo-heading-1() {
  font-size: 34px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.04em;
}

@mixin typo-heading-2() {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.02em;
}

@mixin typo-heading-3() {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

@mixin typo-heading-4() {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin typo-heading-5() {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@mixin typo-body() {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@mixin typo-button() {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.01em;
}
