// /* #ALIASES
// \*------------------------------------*/




// Brand

$color-primary:             #004899;
$color-primary-light:       lighten($color-primary, 10);
$color-primary-dark:        darken($color-primary, 10);
$color-secondary:           #ffe192;
$color-secondary-light:     lighten($color-secondary, 10);
$color-secondary-dark:      darken($color-secondary, 10);
$color-accent:              $grey-100;
$color-accent-light:        lighten($color-accent, 10);
$color-accent-dark:         darken($color-accent, 10);



// Helpers

$color-grey-darker:         $grey-800;
$color-grey-dark:           $grey-700;
$color-grey:                $grey-200;
$color-grey-light:          $grey-100;
$color-grey-lighter:        $grey-50;
$color-grey-ui:             $blue-grey-100;
$color-grey-ui-dark:        $blue-grey-700;
$color-black:               $black;
$color-white:               $white;
$color-off-white:           #FFFAF5;




// Text

$color-text:                $text-color;
$color-text-light:          lighten($color-text, 10);
$color-text-dark:           darken($color-text, 10);
$color-headings:            $grey-600;
$color-text-light-hover:    $grey-700;

$color-links:               $color-primary;
$color-links-hover:         $color-primary-light;
$color-links-active:        $color-primary-dark;




// Objects

$color-hr:                  $color-grey-ui;
$color-bg:                  $color-off-white;
$color-code-bg:             darken($color-grey-ui, 10);



// Sections
$color-header:              $color-primary;
$footer-bg:                 $color-primary;
$footer-widget-bg:          $color-primary-light;




// Buttons
$btn-bg:                    $color-primary;
$btn-bg-hover:              $color-primary-light;
$btn-bg-active:             $color-primary-dark;
$btn-primary-bg:            $color-primary;




//Alerts
$color-error:               $red-400;
$color-valid:               $green-400;
$color-warning:             $yellow-400;
$color-information:         $blue-400;




// Formats

$format-standard:           $indigo-300;
$format-image:              $teal-300;
$format-gallery:            $yellow-300;
$format-video:              $red-300;
$format-quote:              $green-300;
$format-audio:              $green-300;



$color-tint:                rgba($blue-grey-600, .6);
$color-frost:               rgba($grey-50, .85);
$color-shade:               rgba(black, .2);
$color-brand:               $blue-500;
$color-brand-highlight:     lighten($color-brand, 15%);
$color-brand-shadow:        darken($color-brand, 15%);

$color-gray:                $grey-500;
$color-gray-light:          $grey-300;
$color-gray-dark:           $grey-700;

$color-highlight:           rgba(255, 255, 255, 0.05);
$color-shadow:              rgba(0, 0, 0, 0.05);






