/* #BUTTONS
\*------------------------------------*/

.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: transparent;
  border: none;
  border-radius: $button-border-radius;
  color: inherit;
  height: $button-height;
  min-width: $button-min-width;
  padding: 0 $button-padding;
  display: inline-block;
  @include typo-button();
  overflow: hidden;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
  outline: none;
  cursor: pointer;
  text-align: center;
  line-height: $button-height;
  vertical-align: middle;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background-color: $button-hover-color;
    text-decoration: none;
  }

  &:focus:not(:active) {
    background-color: $button-focus-color;
  }

  &:active {
    background-color: $button-active-color;
  }

  // Bump up specificity by using [disabled] twice.
  &[disabled][disabled] {
    color: $button-secondary-color-disabled;
    cursor: auto;
    background-color: transparent;
  }

  &.button--colored {
    color: $button-primary-color-alt;

    &:focus:not(:active) {
      background-color: $button-focus-color-alt;
    }
  }
}


// Raised buttons
.button--raised,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: $button-primary-color;
  //@include shadow-2dp();

  &:active,
  &:hover {
    //@include shadow-4dp();
    background-color: $button-active-color;
  }

  &:focus:not(:active) {
    //@include focus-shadow();
    background-color: $button-active-color;
  }

  &.button--colored {
    background: $button-primary-color-alt;
    color: $button-secondary-color-alt;

    &:hover {
      background-color: $button-hover-color-alt;
    }

    &:active {
      background-color: $button-active-color-alt;
    }

    &:focus:not(:active) {
      background-color: $button-active-color-alt;
    }

    & .ripple {
      background: $button-ripple-color-alt;
    }
  }

  // Bump up specificity by using [disabled] twice.
  &[disabled][disabled] {
    background-color: $button-primary-color-disabled;
    color: $button-secondary-color-disabled;
    @include shadow-2dp();
  }
}
