/* #BUTTONS OUTLINE
\*------------------------------------*/

.btn-outline,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: $border-radius;
  border: 2px solid currentcolor;

&:hover {
  border-color: currentcolor;
}

&:active {
}
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}
