/* #TYPOGRAPHY
\*------------------------------------*/

$heading-size-6:        $font-size - 2 !default;
$heading-size-5:        $font-size !default;
$heading-size-4:        $font-size * 1.25 !default;
$heading-size-3:        $font-size * 1.5 !default;
$heading-size-2:        $heading-size-3 * 1.25 !default;
$heading-size-1:        $heading-size-3 * 1.5 !default;
$heading-size-large:    $heading-size-1 * 1.5 !default;

h1 {
    @include font-size($heading-size-1, false);
}

h2 {
    @include font-size($heading-size-2, false);
}

h3 {
    @include font-size($heading-size-3, false);
}

h4 {
    @include font-size($heading-size-4, false);
}

h5 {
    @include font-size($heading-size-5, false);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 400;
    opacity: $opacity;
    line-height: 1.25;
    margin-top: .75em;
    margin-bottom: .5em;
}

p {
    @include rem(margin-bottom, $font-size);
}

dl, blockquote, address,
table, fieldset, figure,
pre {
    @include rem(margin-bottom, $spacing);
}


abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small {
    font-size: 75%;
    color: #777;
}

big {
    font-size: 125%;
}

p {
    &:empty {
        margin:      0;
        padding:     0;
        line-height: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
