/* #BLOCKQUOTES
\*------------------------------------*/


blockquote {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin-bottom: $spacing;
    @include rem(border-left-width, $spacing-tiny);
    border-left-color: currentColor;
    padding: $spacing-small $spacing;
    font-weight: 500;
    @include font-size($font-size + 2);

    p {
        margin-bottom: 0;
        color: $color-text-light;
    }
}

blockquote blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

blockquote cite {
    display: block;
    font-family: $font-body;
    color: $color-text;
    font-style: normal;
    font-size: 80%;
    font-weight: 500;
    @include rem(padding-top, $spacing-small);
    @include rem(margin-top, $spacing-small);
}

blockquote cite::before {
    content: "\2014";
    @include rem(padding-right, $spacing-small);
}

@include md {
    .pullquote.alignright {
        max-width: 50%;
    }

    .pullquote.alignleft {
        max-width: 50%;
    }
}
