/* #LISTS
\*------------------------------------*/

dl {
    margin-bottom: $spacing;
}

dd {
    margin-left: $spacing-large;
}

ul, ol {
  list-style-position: outside;
  margin: 0 0 $font-size $spacing;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

