/* #WIDTHS
\*------------------------------------*/
// /**
//  * Use these in your markup, e.g.:
//  *
//  * <div class="u-7/12">
//  *
//  */
.u-1\/1 {
    width: 100%;
}

.u-1\/2 {
    width: 50%;
}

.u-1\/3 {
    width: 33.33333%;
}

.u-2\/3 {
    width: 66.66667%;
}

.u-1\/4 {
    width: 25%;
}

.u-3\/4 {
    width: 75%;
}

.u-1\/5 {
    width: 20%;
}

.u-2\/5 {
    width: 40%;
}

.u-3\/5 {
    width: 60%;
}

.u-4\/5 {
    width: 80%;
}

@include md {
    .u-1\/1\@md {
        width: 100%;
    }

.u-1\/2\@md {
        width: 50%;
    }

.u-1\/3\@md {
        width: 33.33333%;
    }

.u-2\/3\@md {
        width: 66.66667%;
    }

.u-1\/4\@md {
        width: 25%;
    }

.u-3\/4\@md {
        width: 75%;
    }

.u-1\/5\@md {
        width: 20%;
    }

.u-2\/5\@md {
        width: 40%;
    }

.u-3\/5\@md {
        width: 60%;
    }

.u-4\/5\@md {
        width: 80%;
    }
}

@include lg {
    .u-1\/1\@lg {
        width: 100%;
    }

.u-1\/2\@lg {
        width: 50%;
    }

.u-1\/3\@lg {
        width: 33.33333%;
    }

.u-2\/3\@lg {
        width: 66.66667%;
    }

.u-1\/4\@lg {
        width: 25%;
    }

.u-3\/4\@lg {
        width: 75%;
    }

.u-1\/5\@lg {
        width: 20%;
    }

.u-2\/5\@lg {
        width: 40%;
    }

.u-3\/5\@lg {
        width: 60%;
    }

.u-4\/5\@lg {
        width: 80%;
    }
}
