/* #GRID
\*------------------------------------*/
.grid {
    margin: 0;
    padding: 0;
    list-style: none;
}
.grid__item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

//
// Reverse grid items’ direction.
//
.grid--rev {
    direction: rtl;
    > .grid__item {
        direction: ltr;
    }
}

//
// Vertically align items to middles/bottoms of each other (top is the default).
//
.grid--middle {
    > .grid__item {
        vertical-align: middle;
    }
}
.grid--bottom {
    > .grid__item {
        vertical-align: bottom;
    }
}
