///* #DEFAULTS
//\*------------------------------------*/


// Base text settings.
$sans-serif:            Helvetica Neue, Helvetica, Arial, sans-serif;
$serif:                 Georgia, Times, "Times New Roman", serif;
$mono:                  Menlo, Monaco, Consolas, "Courier New", monospace;


$font-body:             $sans-serif;
$font-heading:          $serif;

$font-size:             16px !default;
$line-height:           $font-size * 1.5 !default;



$text-color:            #34495e !default;






$background-color:      #fff !default;

$radius:                2px;

$opacity:               0.8;

$transition:            0.25s;



$max-width:             1024px;




// modify or reassign them.
$spacing:               $line-height;
$spacing-tiny:          round($spacing / 4);
$spacing-small:         round($spacing / 2);
$spacing-large:         round($spacing * 2);
$spacing-larger:        round($spacing * 3);
$spacing-huge:          round($spacing * 4);

