// /* #SPACING-RESPONSIVE
// \*------------------------------------*/


.u-m0  { margin: 0; }
.u-mt0 { margin-top: 0; }
.u-mr0 { margin-right: 0; }
.u-mb0 { margin-bottom: 0; }
.u-ml0 { margin-left: 0; }

.u-m { @include rem(margin, $spacing); }
.u-mt { @include rem(margin-top, $spacing); }
.u-mr { @include rem(margin-right, $spacing); }
.u-mb { @include rem(margin-bottom, $spacing); }
.u-ml { @include rem(margin-left, $spacing); }

.u-m-  { @include rem(margin, $spacing-small); }
.u-mt- { @include rem(margin-top, $spacing-small); }
.u-mr- { @include rem(margin-right, $spacing-small); }
.u-mb- { @include rem(margin-bottom, $spacing-small); }
.u-ml- { @include rem(margin-left, $spacing-small); }

.u-m\+  { @include rem(margin, $spacing-large); }
.u-mt\+ { @include rem(margin-top, $spacing-large); }
.u-mr\+ { @include rem(margin-right, $spacing-large); }
.u-mb\+ { @include rem(margin-bottom, $spacing-large); }
.u-ml\+ { @include rem(margin-left, $spacing-large); }

.u-mhn { @include rem(margin-left, -$spacing); @include rem(margin-right, -$spacing); }
.u-mhn- { @include rem(margin-left, -$spacing-small); @include rem(margin-right, -$spacing-small); }
.u-mhn\+ { @include rem(margin-left, -$spacing-large); @include rem(margin-right, -$spacing-large); }

.u-mtn { @include rem(margin-top, -$spacing); }
.u-mtn- { @include rem(margin-top, -$spacing-small); }
.u-mtn\+ { @include rem(margin-top, -$spacing-large); }

.u-p0  { padding: 0; }
.u-pt0 { padding-top: 0; }
.u-pr0 { padding-right: 0; }
.u-pb0 { padding-bottom: 0; }
.u-pl0 { padding-left: 0; }

.u-p  { @include rem(padding, $spacing); }
.u-pt { @include rem(padding-top, $spacing); }
.u-pr { @include rem(padding-right, $spacing); }
.u-pb { @include rem(padding-bottom, $spacing); }
.u-pl { @include rem(padding-left, $spacing); }

.u-p-  { @include rem(padding, $spacing-small); }
.u-pt- { @include rem(padding-top, $spacing-small); }
.u-pr- { @include rem(padding-right, $spacing-small); }
.u-pb- { @include rem(padding-bottom, $spacing-small); }
.u-pl- { @include rem(padding-left, $spacing-small); }

.u-p\+  { @include rem(padding, $spacing-large); }
.u-pt\+ { @include rem(padding-top, $spacing-large); }
.u-pr\+ { @include rem(padding-right, $spacing-large); }
.u-pb\+ { @include rem(padding-bottom, $spacing-large); }
.u-pl\+ { @include rem(padding-left, $spacing-large); }



@include md {
.u-m\@md { @include rem(margin, $spacing); }
.u-mt\@md { @include rem(margin-top, $spacing); }
.u-mr\@md { @include rem(margin-right, $spacing); }
.u-mb\@md { @include rem(margin-bottom, $spacing); }
.u-ml\@md { @include rem(margin-left, $spacing); }

.u-p\@md  { @include rem(padding, $spacing); }
.u-pt\@md { @include rem(padding-top, $spacing); }
.u-pr\@md { @include rem(padding-right, $spacing); }
.u-pb\@md { @include rem(padding-bottom, $spacing); }
.u-pl\@md { @include rem(padding-left, $spacing); }

.u-p\+\@md { @include rem(padding, $spacing-large); }
.u-pt\+\@md { @include rem(padding-top, $spacing-large); }
.u-pr\+\@md { @include rem(padding-right, $spacing-large); }
.u-pb\+\@md { @include rem(padding-bottom, $spacing-large); }
.u-pl\+\@md { @include rem(padding-left, $spacing-large); }

.u-m\+\@md { @include rem(margin, $spacing-large); }
.u-mt\+\@md { @include rem(margin-top, $spacing-large); }
.u-mr\+\@md { @include rem(margin-right, $spacing-large); }
.u-mb\+\@md { @include rem(margin-bottom, $spacing-large); }
.u-ml\+\@md { @include rem(margin-left, $spacing-large); }
}
