/* #COLORS
\*------------------------------------*/

.color-1 { color: $color-1 }
.color-2 { color: $color-2 }
.color-3 { color: $color-3 }

.bg-1 { background-color: $color-1 }
.bg-2 { background-color: $color-2 }
.bg-3 { background-color: $color-3 }

.fill-1 { fill: $color-1 }
.fill-2 { fill: $color-2 }
.fill-3 { fill: $color-3 }

.black  { color: $black }
.gray   { color: $gray }
.silver { color: $silver }
.white  { color: $white }

.muted { opacity: $opacity; }

.color-inherit,
.color-inherit a {
    color: inherit;
}

.currentcolor,
.currentcolor a {
    color: currentColor;
}

/* Basscss Background Colors */

.bg-black  { background-color: $black }
.bg-gray   { background-color: $gray }
.bg-silver { background-color: $silver }
.bg-white  { background-color: $white }

.bg-darken-1 { background-color: $darken-1 }
.bg-darken-2 { background-color: $darken-2 }
.bg-darken-3 { background-color: $darken-3 }
.bg-darken-4 { background-color: $darken-4 }
