/*------------------------------------*\
    #POST NAVIGATION
\*------------------------------------*/



// POST NAV

// .pagination {
//   display: block;
//   margin-bottom: $base-spacing-unit;
//   text-align: center;
//   @include md {
//     margin-bottom: $base-spacing-unit--large;
//   }
//   a {
//   transition: $base-transition;
// }

//   a:hover, a:focus {
//   background-color: $white;
//   opacity: 1;
//   color: black;
// }
// }

// .page-numbers {
//   background-color: rgba($white, .8);
//   border-radius: $base-radius;
//   display: inline-block;
//   margin-bottom: 10px;
//   padding: 10px 20px;
//   margin-left: 3px;
//   margin-right: 3px;

//   &.current {
//   background-color: rgba($blue-grey-900, .1);
// }
// }

// .dots {
//     background: none;
// }






// post-navigation
.nav-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: $base-spacing-unit--small;
    margin-top: -$base-spacing-unit--small;
  @include md {
    margin-bottom: $base-spacing-unit;
  }
  @include lg {
    margin-bottom: $base-spacing-unit--large;
  }
}

.nav-previous span::before {

}


.pagination .nav-links {
  justify-content: center;
}

.page-numbers {
    @extend .button;
    @extend .button--transparent;
}

.dots {
    background: none;
    cursor: default;
    &:hover {
        background: none;
    }
}

.current {
    @extend .button--muted;
    cursor: default;
}

.next {
    @include font-icon($chevron-right, $fa, after);
    &::after {
        padding-left: 5px;
    }
}

.prev {
    @include font-icon($chevron-left);
    &::before {
        padding-right: 5px;
    }
}
