/*------------------------------------*\
    #META-DATA
\*------------------------------------*/

.entry-meta {
  color: $color-text-light;
  font-weight: normal;
  @include font-size($base-font-size - 2);
  text-transform: uppercase;

  a {
  color: currentColor;
  font-weight: inherit;
  }

    &__item {
      margin-right: 5px;
    }
}
