/*------------------------------------*\
    #POST NAVIGATION
\*------------------------------------*/

// post-navigation
.nav-single,
.nav-links {
    text-align: center;
    margin-bottom: $base-spacing-unit--small;
    @include md {
        margin-bottom: $base-spacing-unit;
    }
    @include lg {
        margin-bottom: $base-spacing-unit--large;
    }
}

.pagination .nav-links {
    //justify-content: center;
}

.page-numbers {
    @extend .button;
    @extend .button--transparent;
}

.dots {
    background: none;
    cursor: default;
    &:hover {
        background: none;
    }
}

.current {
    @extend .button--muted;
    cursor: default;
}

.next {
    @include font-icon($chevron-right, $fa, after);
    &::after {
        padding-left: 5px;
        vertical-align: baseline;
    }
}

.prev {
    @include font-icon($chevron-left);
    &::before {
        padding-right: 5px;
        vertical-align: baseline;
    }
}

.navigation, .nav-single {
  width: 100%;
}
