/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
    text-transform: uppercase;
    overflow: hidden;
    color: $color-text;
    list-style: none;
    cursor: default;
    font-weight: 500;
    @include font-size($base-font-size - 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: -$base-spacing-unit--small;
    padding: $base-spacing-unit--tiny;

    @include md {
        margin-top: -$base-spacing-unit;
        padding: $base-spacing-unit--small;
    }

        @include lg {
            margin-top: -$base-spacing-unit--large;
            //margin-bottom: $base-spacing-unit--large;
    }

    & > span {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: currentColor;
        font-weight: inherit;
        opacity: .8;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }

    .sep {
        padding: 0 5px;
        color: $grey-200;
    }

    .trail-end {
        font-weight: 500;
        color: $color-text-light;
    }
}
