/*------------------------------------*\
    #SITE NAVIGATION
\*------------------------------------*/


.menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu--fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.menu__list,
.menu__item {
    position: relative;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    padding: 0;
    margin: 0;
    height: 100%;
}

.menu__item > a,
.menu__heading {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    padding: 1em;
    color: currentColor;
}

.sub-menu > .menu__item > a {
    padding: .5em 1em;
}


/**
 * Dropdowns
 */

 .menu--horizontal {
    width: 100%;
    white-space: nowrap;
}

.menu--horizontal .menu__list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.menu--horizontal .menu__item,
.menu--horizontal .menu__heading,
.menu--horizontal .menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}




/**
 * Dropdowns
 */

.menu__item .menu__item {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    border-radius: $base-radius;
    @include shadow-z3();
}

.menu--horizontal .sub-menu {
    left: 0;
    top: auto;
    width: inherit;
}

.menu-item-has-children:hover > .sub-menu,
.menu-active > .sub-menu {
    display: block;
    position: absolute;
    @extend .bg-white;
}

/* Vertical Menus - show the dropdown arrow */
.menu-item-has-children > a:after {
    padding-left: 0.5em;
    content: "\25B8";
    font-size: small;
}

/* Horizontal Menus - show the dropdown arrow */
.menu--horizontal .menu-item-has-children > a:after {
    content: "\25BE";
}




// POST NAV

.pagination {
  display: block;
  margin-bottom: $base-spacing-unit;
  text-align: center;
  @include md {
    margin-bottom: $base-spacing-unit--large;
  }
  a {
  transition: $base-transition;
}

  a:hover, a:focus {
  background-color: $white;
  opacity: 1;
  color: black;
}
}

.page-numbers {
  background-color: rgba($white, .8);
  border-radius: $base-radius;
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  margin-left: 3px;
  margin-right: 3px;

  &.current {
  background-color: rgba($blue-grey-900, .1);
}
}

.dots {
    background: none;
}






// .post-navigation {
//   background-color: #fff;
//   border-top: 1px solid #eaeaea;
//   border-top: 1px solid rgba(51, 51, 51, 0.1);
//   font-weight: 700;
//   margin-bottom: $base-spacing-unit;
//   border-radius: $base-radius;
//   overflow: hidden;
// }

// @include md {
// .post-navigation {
//   border-top: 0;
//   @include shadow-z1();
//   margin-bottom: $base-spacing-unit--large;
// }
// }

// .post-navigation .nav-next, .post-navigation .nav-previous {
//   background-position: center;
//   background-size: cover;
//   position: relative;
// }


// .post-navigation a {
//   display: block;
//   padding: 3.8461% 7.6923%;
// }

// @include md {
// .post-navigation a {
//   padding: 4.5454% 9.0909%;
// }
// }


// @include lg {
// .post-navigation a {
//   padding: 5% 10%;
// }
// }

// .post-navigation a:before {
//   content: "";
//   display: block;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1;
// }

// .post-navigation .nav-previous a:before {
//   background-color: rgba(0, 0, 0, 0.4);
// }

.post-navigation {
    margin-bottom: $base-spacing-unit;
    @include md {
        margin-bottom: $base-spacing-unit--large;
    }
}
.post-navigation a {
    display: block;
    //height: 40px;
    background: rgba($blue-grey-900, .1);
    text-align: center;
    padding: 15px 30px 15px;

    font-size: 20px;
    text-decoration: none;
    //color: #fff;
    margin-bottom: 10px;


}


.nav-next {
  margin-right: 30px;

a {
    border-top-left-radius: $base-radius;
    border-bottom-left-radius: $base-radius;
    border-left: 15px solid #F5F5F5;

&::after {
    content: "";
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 30px solid rgba($blue-grey-900, .1);
    position: absolute; right: -30px; top: 0;
}
}
}
.nav-previous {
  margin-left: 30px;

a {
    border-top-right-radius: $base-radius;
    border-bottom-right-radius: $base-radius;
    border-right: 15px solid #F5F5F5;

&::after {
    content: "";
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-right: 30px solid rgba($blue-grey-900, .1);
    position: absolute; left: -30px; top: 0;
}
}
}
