/*------------------------------------*\
    #CODE
\*------------------------------------*/

.flickity-slider {
    transition: none;
}

button.flickity-prev-next-button {
    padding: 0;
}

.meh-slider {
.flickity-page-dots {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meh-slider__cell {
  background: $color-primary-dark;
}

.meh-slider__text {
  text-shadow: 0 2px rgba($color-primary-dark,0.4);
}

.flickity-page-dots .dot {
  flex: 1;
  border-radius: 0;
  margin: 0;
  background: $color-primary-light;
}

.flickity-prev-next-button {
    background: $color-secondary;
    opacity: .5;

    &:hover {
        background: $color-secondary;
        opacity: 1;
    }
}
}


