/*------------------------------------*\
    #TABS
\*------------------------------------*/

.whistles {
    clear:       both;
    width:       100%;
    margin:      0 0 $base-spacing-unit;
}

.whistles::after,
.whistle-content::after {
    content:    ".";
    display:    block;
    height:     0;
    clear:      both;
    visibility: hidden;
}

.whistle-title:hover {
    cursor: pointer;
}

.whistle-content {
    overflow: hidden;
    @include md {
    padding: $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
}
}

/**
 * Tabs
 */

/* Wraps the entire tabbed section. */
.whistles-tabs {}

    /* Unordered list. */
    .whistles-tabs-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: $base-radius $base-radius 0 0;
        overflow: hidden;
    }

        /* Individual list item. */
        .whistles-tabs-nav li {
            display: inline-block;
            flex: 1 auto;
            text-align: center;
        }

            /* Link within list item. */
            .whistles-tabs .whistles-tabs-nav li a {
                display:            inline-block;
                padding:            $base-spacing-unit--small $base-spacing-unit--tiny;
                color:              $color-grey-light;
                background-color:   $color-primary;
                opacity: 1;
                transition: $base-transition;
                border: 0;
                width: 100%;

                @include hocus() {
                background-color: $color-primary-dark;
                }

            }

            .whistles-tabs-nav li[aria-selected="true"] a {
                color:               $white;
                background-color:    $color-primary-light;
                //border-bottom-color: #fff;

                @include hocus() {
                    cursor: default;
                    background-color: $color-primary-light;
                }
            }

                .post-12 .whistles-tabs-nav li:first-of-type {
                    flex: 0 60px;

                    a {
                        color: transparent!important;
                        font-size: 0;


                    @include font-icon($graduation-cap);
                    &:before {
                        color: $white;
                        font-size: 30px;
                    }
                }
                }

    /* Wraps all of the tab content panels. */
    .whistles-tabs-wrap {
        //margin:     -1px 0 0;
        padding:    $base-spacing-unit $base-spacing-unit 0 $base-spacing-unit;
        //border: 2px solid $color-primary-dark;
        border-top: 0;
        border-radius: 0 0 $base-radius $base-radius;
    }

        /* Individual tab content. */
        .whistles-tabs-wrap .whistle-content {}

/**
 * Toggle/Accordion
 */

/* Wraps the entire toggle/accordion section. */
.whistles-toggle,
.whistles-accordion {}

    /* Title for individual section. */
    .whistles-toggle .whistle-title,
    .whistles-accordion .whistle-title {
        margin:           0;
        padding:          $base-spacing-unit--small $base-spacing-unit;
        //color:            #777;
        background-color:       #f5f5f5;
        //border:           1px solid #ececec;
        border-top-width: 0;
        @include font-size($base-font-size + 2);

        @include font-icon($chevron-down, $fa, after);
        &:after {
            float: right;
            transition: transform .1s linear;
        }
    }

.whistles-toggle .whistle-title[aria-selected="true"]:after {
    transform: rotate(180deg);
    transition: transform $base-transition linear;
}

        .whistles-toggle .whistle-title:first-child,
        .whistles-accordion .whistle-title:first-child {
            //border-top-width: 1px;
        }

        .whistles-toggle .whistle-title:hover,
        .whistles-toggle .whistle-title[aria-selected="true"],
        .whistles-accordion .whistle-title:hover,
        .whistles-accordion .whistle-title[aria-selected="true"] {
            //color:      #555;
            //background-color: #ededed;
        }

    /* Individual toggle section content. */
    .whistles-toggle .whistle-content,
    .whistles-accordion .whistle-content {
        margin:     -1px 0 0;
        //color:      #666;
        //background-color: #fff;
        //border:     1px solid #ececec;
    }



.widget-primary.whistles {
    padding: 0;
    box-shadow: none;
    background-color: none;
}
