/*------------------------------------*\
    #CODE
\*------------------------------------*/

.flickity-slider {
    transition: none;
}

button.flickity-prev-next-button {
    padding: 0;
}

.meh-slider {
.flickity-page-dots {
  bottom: -10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meh-slider__cell {
  background: $color-primary-dark;
}

.meh-slider__text {
  text-shadow: 0 2px rgba($color-primary-dark,0.4);
}

.flickity-page-dots .dot {
  flex: 1;
  border-radius: 0;
  margin: 0;
  background: $color-primary-light;
}

.flickity-prev-next-button {
    background: $color-secondary;
    opacity: .5;

    &:hover {
        background: $color-secondary;
        opacity: 1;
    }
}
}

.entry__header--feature {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background-color: $color-primary-dark;
    display: inline-block;

    @include md {
        min-height: 200px;
    }

    img {
        vertical-align: middle;
        opacity: .7;
    }

    .feature-text {
        position: absolute;
        top: 45%;
        width: 100%;
    }
}

.feature-text .entry-title {
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 2px rgba(0, 16, 34, 0.4);
    @include font-size($heading-size-2, false);
    @include md {
        @include font-size($heading-size-jumbo, false);
    }
}
