.btn {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    cursor: pointer;
    @include bg-text($btn-bg);
    border-radius: $base-radius;
    border-width: 0;
    padding: ($base-spacing-unit / 2) $base-spacing-unit;
    outline: 0;
    letter-spacing: 1px;
    transition: $base-transition;
    flex-direction: row;
    &:hover, &:active, &:focus {
        opacity: 1;
        background-color: $btn-bg-hover;
    }
    &:active,
    &.is-active {
        background-color: $btn-bg-active;
    }
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @extend .btn;
}

.button--transparent {
    color: inherit;
    background-color: transparent;
    &:hover, &:active, &:focus {
        color: inherit;
        background-color: rgba($color-grey-ui, 0.3);
    }
}

.button--outline {
    color: $btn-bg;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    &:hover, &:active, &:focus {
        @include bg-text($btn-bg-hover);
        background-color: $btn-bg-hover;
        border-color: $btn-bg-hover;
    }
}

.button--tiny {
    padding: $base-spacing-unit--tiny $base-spacing-unit--small;
    @include font-size($base-font-size - 5, 1);
    text-transform: uppercase;
}

.button--muted {
    background-color: $color-grey-ui;
    border-color: $color-grey-ui;
}

/* Underline From Center */
.button--tab {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;

    &:hover,
    &:active,
    &.is-active,
    &:focus {
        background-color: transparent;
    }
}
.button--tab:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #ffffff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button--tab:hover:before,
.button--tab:focus:before,
.button--tab.is-active:before,
.button--tab:active:before {
  left: 0;
  right: 0;
}

.button--tab:hover:before {
    background: rgba(#ffffff, $base-opacity);
}

.button--tab:focus:before,
.button--tab.is-active:before,
.button--tab:active:before {
    background: #ffffff;
}
