/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

.breadcrumbs {
    text-transform: uppercase;
    overflow: hidden;
    color: $color-text;
    list-style: none;
    cursor: default;
    font-weight: 500;
    @include font-size($base-font-size - 1);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $base-spacing-unit;
    padding: $base-spacing-unit--tiny $base-spacing-unit--small;
    background-color: rgba($white, .9);
    border-radius: $base-radius;
    //@include shadow-z1();

    @include md {
        margin-bottom: $base-spacing-unit--large;
    }
    & > span {
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: currentColor;
        font-weight: inherit;
        opacity: .7;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }

    .sep {
        padding: 0 5px;
        color: $grey-200;
    }

    .trail-end {
        font-weight: 500;
        color: $grey-400;
    }
}
