ul, ol {
    list-style: none;
    margin-bottom: $base-spacing-unit;
}

.entry-content ul, .entry-content ol {
    list-style-position: outside;
    padding-left: $base-font-size;

    > li {
        list-style-type: disc;
    }
}

li {

    > ul,
    > ol {
        margin-bottom: 0;
    }

}

.sidebar li {
  margin-bottom: $base-spacing-unit--small;
}
