/*------------------------------------*\
    #BLOCKQUOTES
\*------------------------------------*/


blockquote {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin-bottom: $base-spacing-unit;
    border-left: 8px solid currentColor;
    padding: $base-spacing-unit--small $base-spacing-unit;
    font-weight: 500;
    @include font-size($base-font-size + 2);

    p {
        margin-bottom: 0;
        color: $color-text-light;
    }
}

blockquote blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

blockquote cite {
    display: block;
    font-family: $font-body;
    color: $color-text;
    font-style: normal;
    font-size: 80%;
    font-weight: 500;
    margin-top: 12px;
    padding-top: 13px;
    margin-top: $base-spacing-unit--small;
}

blockquote cite::before {
    content: "\2014";
    padding-right: 10px;
}

@include md {
    .pullquote.alignright {
        max-width: 50%;
    }

    .pullquote.alignleft {
        max-width: 50%;
    }
}
