ul {
    list-style: none;
    margin-bottom: $base-spacing-unit;
}

.entry-content ul {
    list-style-position: outside;
    padding-left: $base-font-size;
}

li {

    > ul,
    > ol {
        margin-bottom: 0;
    }

}
