/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-size: ($base-font-size / 16px) * 1em;
    line-height: $base-line-height / $base-font-size;
    color: $base-text-color;
    min-height: 100%;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6,
dl, blockquote, p, address,
table, fieldset, figure,
pre {
    margin-bottom: $base-spacing-unit;
}

dd {
    margin-left: $base-spacing-unit;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: $base-spacing-unit 0;
    padding: 0;
}
