a {
    background-color: transparent;
    text-decoration: none;
    opacity: $base-opacity;
    //color: $color-links;
    transition: $base-transition ease;

    &:active,
    &:hover,
    &:focus {
        opacity: 1;
        outline: 0;
        text-decoration: none;
    }
}
