// /*------------------------------------*\
//  #FORMS
// \*------------------------------------*/
input,
select,
textarea {
    border: 1px solid $color-grey-ui;
    border-radius: $base-radius;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    display: inline-block;
    background-color: $color-grey-ui;
    min-height: $base-spacing-unit--large;
    padding: 0 $base-spacing-unit;
}

select {
    min-height: $base-spacing-unit;
    padding: $base-spacing-unit--tiny $base-spacing-unit;
}
input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="search"], textarea {
    width: 100%;
}

input[type="color"] {
    padding: $base-spacing-unit--small $base-spacing-unit;
}

input:focus,
select:focus,
textarea:focus {
    border-color: $color-primary-light;
    outline: 0;
    background-color: $white;
}

input[type=number] {
    width: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

progress {
    display: inline-block;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: .1rem solid thin $color-text;
}

input[disabled],
select[disabled],
textarea[disabled] {
    background-color: $color-grey-light;
    color: $color-text-light;
    cursor: not-allowed;
}

input[readonly],
select[readonly],
textarea[readonly] {
    background-color: $color-grey-light;
    border-color: $color-grey-ui;
    color: $color-text-light;
}

select {
    background-color: #fff;
    border: 1px solid $color-grey-ui;
    text-transform: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select[multiple] {
    height: auto;
}

select::-ms-expand {
    display: none;
}

select::-ms-value {
    color: currentColor;
}

label {
    line-height: 2;
}

fieldset {
    padding: $base-spacing-unit--small 0;
}

legend {
    border-bottom: .1rem solid $color-grey-ui;
    color: $color-text;
    display: block;
    margin-bottom: $base-spacing-unit--small;
    padding: $base-spacing-unit--small 0;
    width: 100%;
}

textarea {
    resize: vertical;
    padding: $base-spacing-unit;
    overflow: auto;
}

[unselectable] {
    user-select: none;
}

.search-form,
.post-password-form {
    display: block;
}

.search-form input[type=search],
.post-password-form input[type="password"] {
    margin: 0;
    width: 100%;
}

.search-form button[type=submit],
.post-password-form input[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 0 $base-spacing-unit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.post-password-form input[type="submit"] {
    height: $base-spacing-unit--large;
    top: auto;
}

.search-form button {
    @include font-icon($search);
}

.search-form button[type=submit]::before {
    font-size: 18px;
    line-height: 1.625;
}
