// /*------------------------------------*\
//  #LISTS
// \*------------------------------------*/

dl {
    margin-bottom: $base-spacing-unit;
}

dd {
    margin-left: $base-spacing-unit--large;
}

ul,
ol {
    margin-bottom: $base-spacing-unit;
    padding-left: $base-spacing-unit;
    list-style-position: outside;
    text-align: left;
}

li {


    > ul,
    > ol {
        margin-bottom: 0;
    }

}
