///*------------------------------------*\
//    #HEADINGS
//\*------------------------------------*/

$heading-size-1:  $inuit-heading-size-1;
$heading-size-2:  $inuit-heading-size-2;
$heading-size-3:  $inuit-heading-size-3;
$heading-size-4:  $inuit-heading-size-4;
$heading-size-5:  $inuit-heading-size-5;
$heading-size-6:  $inuit-heading-size-6;
