/*------------------------------------*\
    $ARTICLES
\*------------------------------------*/

// .entry-title {}

// .entry-format {
//     position: absolute;
//     opacity: 0.8;
//     width: 30px;
//     bottom: 0;
//     right: 0;
//     @include md {
//         opacity: 0.8;
//         bottom: -20px;
//         width: 50px;
//         right: 50%;
//         margin-right: -25px;
//         height: 50px;
//     }
// }

// .entry-format svg {
//     display: block;
//     top: 15px;
//     margin: 0 auto;
//     height: 100%;
// }

.entry-content a {
    //border-bottom: 1px solid rgba(52,73,94,0.4);
    font-weight: 700;
    &:hover,
    &:focus,
    &:active {
            border-color: rgba(52,73,94,0);
            background-color: rgba(52,73,94,0.1);
    }
}
