/*------------------------------------*\
    #BLOCK
\*------------------------------------*/

.block {
  width: 100%;
}

.block__title {
  margin: 0;
  opacity: 1;
}

.block__img {
  border-radius: $base-radius $base-radius 0 0;
}

.block__content {
  border-radius: $base-radius;
  padding: 0;
  //border-width: 1px;
}

.block__img ~ .block__content {
  border-radius: 0 0 $base-radius $base-radius;
  border-top: 0;
}

.block__icon {
  max-width: 50%;
}

.block__body {
}

.block__title ~ .block__body {
  //padding-top: 0;
}

.block__title--color {
  margin-bottom: $base-spacing-unit;
}

.block__action {
    border-radius: 0 0 $base-radius $base-radius;
  //border-top-width: 1px;
  > a {
    color: $white!important;
  }
}


.media {
    display: table;
    width: 100%;
}

.media__img,
.media__body {
    display: table-cell;
    vertical-align: top;
}

.media__img {
    padding-right: $base-spacing-unit;

    img {
        display: block;
        max-width: none;
    }

}

.media__body {
    width: 100%;
}
