/*------------------------------------*\
    $ARTICLES
\*------------------------------------*/

.entry-title {

}

.entry-format {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
}

.entry-format svg {
  display: block;
  top: 15px;
  opacity: 0.7;
  margin: 0 auto;
  height: 100%;
}
