/*------------------------------------*\
    #Layout Wrappers
\*------------------------------------*/

.wrapper, .wrap {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.wrapper--wide {
    max-width: none;
}

.header-wrap {
	display: block;

	@include md {
		display: flex;
	}
}