/*
 * Basscss Flex Object
 */

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex--row {
    flex-direction: row;
}

.flex--wrap {
    flex-wrap: wrap;
}

.flex--center {
    align-items: center;
}

.flex-j--center {
    justify-content: center;
}

.flex--j-between {
    justify-content: space-between;
}

.flex--j-around {
    justify-content: space-around;
}

.flex--baseline {
    align-items: baseline;
}

.flex--stretch {
    align-items: stretch;
}

.flex--start {
    align-items: flex-start;
}

.flex--end {
    align-items: flex-end;
}

.flex--first {
    order: -1;
}

.flex--last {
    order: 1024;
}

.flex--auto {
    flex: 1 1 auto;
}

.flex--grow {
    flex: 1 0 auto;
}

.flex--none {
    flex: none;
}

@include sm {
    .flex\@sm {
        display: flex;
    }

    .flex--column\@sm {
        flex-direction: column;
    }

    .flex--row\@sm {
        flex-direction: row;
    }
}

@include md {
    .flex\@md {
        display: flex;
    }

    .flex--column\@md {
        flex-direction: column;
    }

    .flex--row\@md {
        flex-direction: row;
    }
}

@include lg {
    .flex\@lg {
        display: flex;
    }

    .flex--column\@lg {
        flex-direction: column;
    }

    .flex--row\@lg {
        flex-direction: row;
    }
}

