/*------------------------------------*\
    #Layout Wrappers
\*------------------------------------*/

.wrapper {
    max-width: $max-width;
    margin: 0 auto;

    @include xl {
        padding-right: 0;
        padding-left:  0;
    }
}

.wrapper--wide {
    max-width: none;
    padding-right: 5%;
    padding-left:  5%;
}
