///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// Namespace.
$namespace:               null !default;


// All z-index values should be set here

$z-layers: (
    'modal'         : 9000,
    'overlay'       : 8000,
    'dropdown'      : 7000,
    'header'        : 6000,
    'footer'        : 5000,
    'default'       : 1,
    'bottomless-pit': -10000
);

// High-level base settings.
$base-font-size:          16px !default;
$base-line-height:        24px !default;

$base-text-color:         #333 !default;
$base-background-color:   #fff !default;

$base-radius:           2px;

$base-opacity:          0.7;

$base-transition:       0.35s;

$font-body:             "Roboto", sans-serif;
$font-heading:          "Raleway", sans-serif;
$font-code:             "Courier 10 Pitch", Courier, monospace;

$max-width: 1240px;




// modify or reassign them.
$base-spacing-unit:           $base-line-height;
$base-spacing-unit--tiny:     round($base-spacing-unit / 4);
$base-spacing-unit--small:    round($base-spacing-unit / 2);
$base-spacing-unit--large:    round($base-spacing-unit * 2);
$base-spacing-unit--larger:   round($base-spacing-unit * 3);
$base-spacing-unit--huge:     round($base-spacing-unit * 4);
