.u-1\/1 {
    max-width: 100%;
}

.u-1\/4 {
    max-width: 25%;
}

.u-1\/3 {
    max-width: 33.333333333%;
}

.u-1\/2 {
    max-width: 50%;
}

.u-2\/3 {
    max-width: 66.666666666%;
}

.u-3\/4 {
    max-width: 75%;
}


/**
 * Create our width classes, prefixed by the specified namespace.
 */
@mixin device-type($namespace:"") {
    $prefix: $class-type + $namespace;

    /**
     * Whole
     */
    #{$prefix}u-1\/1         { width:100%; }


    /**
     * Halves
     */
    #{$prefix}u-1\/2          { width:50%; }


    /**
     * Thirds
     */
    #{$prefix}u-1\/3         { width:33.333%; }
    #{$prefix}u-2\/3        { width:66.666%; }


    /**
     * Quarters
     */
    #{$prefix}u-1\/4      { width:25%; }
    #{$prefix}u-3\/4    { width:75%; }
}


/**
 * Our regular, non-responsive width classes.
 */
@include device-type;


/**
 * Our responsive classes, if we have enabled them.
 */
@if $responsive {

    @each $name in $breakpoint-has-widths {
        @include grid-media-query($name) {
           @include device-type('#{$name}--');
        }
    }

}





/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
@mixin push-setup($namespace: "") {
    $prefix: $class-type + "push--" + $namespace;

    /**
     * Whole
     */
    #{$prefix}u-1\/1           { left:100%; @include silent-relative; }


    /**
     * Halves
     */
    #{$prefix}u-1\/2            { left:50%; @include silent-relative; }


    /**
     * Thirds
     */
    #{$prefix}u-1\/3           { left:33.333%; @include silent-relative; }
    #{$prefix}u-2\/3          { left:66.666%; @include silent-relative; }


    /**
     * Quarters
     */
    #{$prefix}u-1\/4         { left:25%; @include silent-relative; }
    #{$prefix}u-2\/4        { @extend #{$prefix}u-1\/2; }
    #{$prefix}u-3\/4      { left:75%; @include silent-relative; }
}

@if $push {

    /**
     * Not a particularly great selector, but the DRYest way to do things.
     */
    [class*="push--"] { position:relative; }

    @include push-setup;

    @if $responsive {
        @each $name in $breakpoint-has-push {
            @include grid-media-query($name) {
                @include push-setup('#{$name}--');
            }
        }
    }

}





/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
@mixin pull-setup($namespace: "") {
    $prefix: $class-type + "pull--" + $namespace;

    /**
     * Whole
     */
    #{$prefix}u-1\/1           { right:100%; @include silent-relative; }


    /**
     * Halves
     */
    #{$prefix}u-1\/2            { right:50%; @include silent-relative; }


    /**
     * Thirds
     */
    #{$prefix}u-1\/3           { right:33.333%; @include silent-relative; }
    #{$prefix}u-2\/3          { right:66.666%; @include silent-relative; }


    /**
     * Quarters
     */
    #{$prefix}u-1\/4         { right:25%; @include silent-relative; }
    #{$prefix}u-2\/4        { @extend #{$prefix}u-1\/2; }
    #{$prefix}u-3\/4      { right:75%; @include silent-relative; }
}

@if $pull {

    /**
     * Not a particularly great selector, but the DRYest way to do things.
     */
    [class*="pull--"] { position:relative; }

    @include pull-setup;

    @if $responsive {
        @each $name in $breakpoint-has-pull {
            @include grid-media-query($name) {
                @include pull-setup('#{$name}--');
            }
        }
    }

}
