/*----------------------------------------------------*\
    #To be place in a more appropriate stylesheet later
\*----------------------------------------------------*/

.gfield.field_sublabel_below .ginput_container label {
    font-weight: normal;
    text-align: center;
}

// .gfield.field_sublabel_below .ginput_container ~ .gfield_description, .gfield.field_sublabel_below .ginput_container > input ~ div {
//     margin-top: -$base-spacing-unit;
//     margin-bottom: $base-spacing-unit;
//     font-weight: normal;
// }

.gform_wrapper .ginput_container ul.gfield_radio label {
    text-align: left;
}

// .gfield_radio li {
//     display: inline-block;
// }

.field_sublabel_below input {
    margin-bottom: 0;
}
.gform_wrapper .ginput_list table.gfield_list tbody tr td.gfield_list_icons {
    vertical-align: baseline!important;
}

.gform_wrapper li, .gform_wrapper form li {
    margin-bottom: $base-spacing-unit;
}

.gform_wrapper li.gfield .gfield_description {
    color: $color-text-light;
    padding: 0;
}



iframe[src*="google.com/maps"] {
    max-width: 100%;
    width: 100%;
}

.site-logo {
    height: 70px;
    width: 100%;
}

.site-logo-link {
  display: inline-block;
  max-width: 120px;
  vertical-align: middle;
}

.site-branding {
    display: inline-block;
}

.site-title {
    display: inline-block;
    line-height: 1.5;
}

