/*----------------------------------------------------*\
    #To be place in a more appropriate stylesheet later
\*----------------------------------------------------*/

.browserupgrade {
    margin: 0.2em 0;
    text-align: center;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    a {
        color: blue;
        text-decoration: underline;
    }
}

.action-bar-wrap {
        flex-direction: row;
        flex-wrap: wrap;
          z-index: 1;

    @include md {
        justify-content: space-around;
        align-items: center;
    }
}

// .site-logo {
//     border: 5px solid $blue-grey-800;
//     background-color: $white;
//     padding: $base-spacing-unit--tiny;
//     border-radius: 50%;
//     @include shadow-z2();
//     max-width: 80px;
//     max-height: 80px;
//     width: 100%;
//     margin-top: 5px;
//     opacity: .7;
//     @include lg {
//         max-width: 120px;
//         max-height: 120px;
//         width: 100%;
//         margin-top: -65px;
//     }

//     &:hover {
//         opacity: .9;
//         @include shadow-z4();
//         }
// }

// .home .site-logo {
//     margin-top: 10px;
// }

.site-logo {
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.header-wrap {
    text-align: center;
}

.site-branding {
    text-shadow: 0 2px rgba(62, 71, 76, 0.4);
    //overflow: hidden;
}

.site-title {
    display: inline-block;
    a {
        font-weight: 400;
        letter-spacing: 2px;
    }
}

.toggle__title {
    @include font-size($base-font-size - 3);
}

.site-branding {
    //display: inline-block;
    //padding: $base-spacing-unit;
}

.header-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.toggles.grid {
  max-width: 100%;
}

.toggle {
    width: auto;
    margin: auto;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.panel {
    display: none;
    width: 100%;
    margin: 0;
}

// .toggle-img {
//     display: block;
//     max-width: 38px;
//     max-height: 38px;
//     margin: 0 auto;
// }

.site-header {
    background-attachment: scroll;
    @include md {
        background-attachment: fixed;
    }
}

.widget li:last-of-type,
.widget ul:last-of-type,
p:last-of-type {
    margin-bottom: 0;
}

.credit {
    text-align: center;
}

.site-link {
    vertical-align: baseline;
}

.entry-content a:not(.button) {
    color: $color-links;
    border-bottom: 1px solid transparent;
    &:hover, &:focus {
        color: $color-links-hover;
        opacity: 1;
        border-bottom-color: lighten($color-links-hover, 10);
    }
    &:active {
        color: $color-primary;
    }
}

.panel {
    display: block;
    z-index: 1;
    //position: fixed;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    //opacity: 0.5;
    /*  Add animation when content expands and collapses */

    //-webkit-transition: opacity 0.35s ease;
    transition: max-height 0.1s cubic-bezier(0, 0, 0, 1.01), opacity 0.0s ease;
}

.panel.panel-open {
    max-height: 9999em;
    transition: max-height 2s cubic-bezier(0.95, 0.03, 1, 1), opacity 0.0s ease;
    opacity: 1;
    overflow: visible;
}

.close-btn {
    color: grey;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    text-align: center;
}



.comment-list {
  list-style: none;
}


// .home .site-inner {
//   margin-top: 0;
// }

// .home .entry__header {
//     display: none;
// }



.home .entry-content {
    max-width: 100%;
}

.entry__header--feature img {
    width: 100%;
}


.featured-media {
    max-height: 500px;
    overflow: hidden;
}










// .entry-content {
//         transform: translateY(-100px);
//         background-color: $white;
//         padding-top: $base-spacing-unit;
// }


















//MESSAGE BOARD

#mb-reply-form {
    display: inline-block;
}
