/*----------------------------------------------------*\
    #To be place in a more appropriate stylesheet later
\*----------------------------------------------------*/

.browserupgrade {
    margin: 0.2em 0;
    text-align: center;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    a {
        color: blue;
        text-decoration: underline;
    }
}

.action-bar-wrap {
        flex-direction: row;
        flex-wrap: wrap;
          z-index: 1;

    @include md {
        justify-content: space-around;
        align-items: center;
    }
}

.site-logo {
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
.header-wrap {
    text-align: center;
}

.site-branding {
    text-shadow: 0 2px rgba(62, 71, 76, 0.4);
    //overflow: hidden;
}

.site-title {
    display: inline-block;
    a {
        font-weight: 400;
        letter-spacing: 2px;
    }
}

.toggle__title {
    @include font-size($base-font-size - 3);
}

.header-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.toggles.grid {
  max-width: 100%;
}

.toggle {
    width: auto;
    margin: auto;
    border-radius: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.panel {
    display: none;
    width: 100%;
    margin: 0;
}

.site-header {
    background-attachment: scroll;
    @include md {
        background-attachment: fixed;
    }
}

.widget li:last-of-type,
.widget ul:last-of-type,
p:last-of-type {
    margin-bottom: 0;
}

.credit {
    text-align: center;
}

.site-link {
    vertical-align: baseline;
}

.entry-content a:not(.button) {
    color: $color-links;
    border-bottom: 1px solid transparent;
    &:hover, &:focus {
        color: $color-links-hover;
        opacity: 1;
        border-bottom-color: lighten($color-links-hover, 10);
    }
    &:active {
        color: $color-primary;
    }
}

.panel {
    display: block;
    z-index: 1;
    //position: fixed;
    max-height: 0;
    height: 100%;
    overflow: hidden;
    //opacity: 0.5;
    /*  Add animation when content expands and collapses */

    //-webkit-transition: opacity 0.35s ease;
    transition: max-height 0.1s cubic-bezier(0, 0, 0, 1.01), opacity 0.0s ease;
}

.panel.panel-open {
    max-height: 9999em;
    transition: max-height 2s cubic-bezier(0.95, 0.03, 1, 1), opacity 0.0s ease;
    opacity: 1;
    overflow: visible;
}

.close-btn {
    color: grey;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    text-align: center;
}



.comment-list {
  list-style: none;
}


.home .entry-content {
    max-width: 100%;
}

.entry__header--feature img {
    width: 100%;
}


.entry__header--feature {
    width: 100%;
    min-height: 50px;
    text-align: center;
    display: inline-block;
    margin-top: -$base-spacing-unit--small;

    @include md {
        min-height: 200px;
    }

    img {
        vertical-align: middle;
        opacity: .7;
    }

    .feature-text {
        position: absolute;
        top: 45%;
        width: 100%;
    }
}

.feature-text .entry-title {
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 2px rgba(0, 16, 34, 0.4);
    @include font-size($heading-size-2, false);
    @include md {
        @include font-size($heading-size-jumbo, false);
    }
}


.featured-media {
    max-height: 500px;
    overflow: hidden;
    background-color: $color-primary-dark;
}



















//MESSAGE BOARD

#mb-reply-form {
    display: inline-block;
}

.sidebar-primary {
.whistles {
    font-family: sans-serif;
    @include font-size($base-font-size - 2);
}

.whistles-toggle, .whistles-accordion {
    transition: none;
}

.widget-primary.whistles {
    padding: 0;
    box-shadow: none;
    background: none;
}

.whistles-tabs .whistles-tabs-wrap {
    margin: -1px 0 0;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border: 0;
    border-radius: $base-radius;
    background: $color-primary-light;
    color: $white;
    border: 0;
        padding-bottom: 1.5rem;
    border-radius: 0 0 $base-radius $base-radius;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}

.whistles-tabs .whistles-tabs-nav {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.whistles-tabs .whistles-tabs-nav li {
    flex: 1;

    &:last-of-type a {
        border-right: 0;
    }
}

.whistles-tabs .whistles-tabs-nav li a {
    border-color: $white;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: $base-radius $base-radius 0 0;
    color: $color-grey-light;
    background: $color-primary;
    width: 100%;

    &:hover {
    background: $color-primary-dark;
}
}

.whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a {
    color: $white;
    background: $color-primary-light;
}
}

.letter-icon {
    position: absolute;
    opacity: .4;
    left: 48%;
    bottom: 0;
    width: auto;
}

.intro-text p{
    @include font-size($base-font-size + 4);
    letter-spacing: 1px;
    //font-style: italic;
}


.block-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

section.row.shadow--z1 {
    z-index: 1;
}
