///*------------------------------------*\
//    #WIDTHS
//\*------------------------------------*/


.u-1of1 {
    width: 100%;
}
.u-1of2 {
    width: 50%;
}
.u-1of3 {
    width: 33.3333333333%;
}
.u-2of3 {
    width: 66.6666666667%;
}
.u-1of4 {
    width: 25%;
}
.u-2of4 {
    width: 50%;
}
.u-3of4 {
    width: 75%;
}
.u-1of5 {
    width: 20%;
}
.u-2of5 {
    width: 40%;
}
.u-3of5 {
    width: 60%;
}
.u-4of5 {
    width: 80%;
}

@include sm {
    .u-1of1\@sm {
        width: 100%;
    }
    .u-1of2\@sm {
        width: 50%;
    }
    .u-1of3\@sm {
        width: 33.3333333333%;
    }
    .u-2of3\@sm {
        width: 66.6666666667%;
    }
    .u-1of4\@sm {
        width: 25%;
    }
    .u-2of4\@sm {
        width: 50%;
    }
    .u-3of4\@sm {
        width: 75%;
    }
    .u-1of5\@sm {
        width: 20%;
    }
    .u-2of5\@sm {
        width: 40%;
    }
    .u-3of5\@sm {
        width: 60%;
    }
    .u-4of5\@sm {
        width: 80%;
    }
}

@include md {
    .u-1of1\@md {
        width: 100%;
    }
    .u-1of2\@md {
        width: 50%;
    }
    .u-1of3\@md {
        width: 33.3333333333%;
    }
    .u-2of3\@md {
        width: 66.6666666667%;
    }
    .u-1of4\@md {
        width: 25%;
    }
    .u-2of4\@md {
        width: 50%;
    }
    .u-3of4\@md {
        width: 75%;
    }
    .u-1of5\@md {
        width: 20%;
    }
    .u-2of5\@md {
        width: 40%;
    }
    .u-3of5\@md {
        width: 60%;
    }
    .u-4of5\@md {
        width: 80%;
    }
}

@include lg {
    .u-1of1\@lg {
        width: 100%;
    }
    .u-1of2\@lg {
        width: 50%;
    }
    .u-1of3\@lg {
        width: 33.3333333333%;
    }
    .u-2of3\@lg {
        width: 66.6666666667%;
    }
    .u-1of4\@lg {
        width: 25%;
    }
    .u-2of4\@lg {
        width: 50%;
    }
    .u-3of4\@lg {
        width: 75%;
    }
    .u-1of5\@lg {
        width: 20%;
    }
    .u-2of5\@lg {
        width: 40%;
    }
    .u-3of5\@lg {
        width: 60%;
    }
    .u-4of5\@lg {
        width: 80%;
    }
}

@include xl {
    .u-1of1\@xl {
        width: 100%;
    }
    .u-1of2\@xl {
        width: 50%;
    }
    .u-1of3\@xl {
        width: 33.3333333333%;
    }
    .u-2of3\@xl {
        width: 66.6666666667%;
    }
    .u-1of4\@xl {
        width: 25%;
    }
    .u-2of4\@xl {
        width: 50%;
    }
    .u-3of4\@xl {
        width: 75%;
    }
    .u-1of5\@xl {
        width: 20%;
    }
    .u-2of5\@xl {
        width: 40%;
    }
    .u-3of5\@xl {
        width: 60%;
    }
    .u-4of5\@xl {
        width: 80%;
    }
}

@include retina {
    .u-1of1\@retina {
        width: 100%;
    }
    .u-1of2\@retina {
        width: 50%;
    }
    .u-1of3\@retina {
        width: 33.3333333333%;
    }
    .u-2of3\@retina {
        width: 66.6666666667%;
    }
    .u-1of4\@retina {
        width: 25%;
    }
    .u-2of4\@retina {
        width: 50%;
    }
    .u-3of4\@retina {
        width: 75%;
    }
    .u-1of5\@retina {
        width: 20%;
    }
    .u-2of5\@retina {
        width: 40%;
    }
    .u-3of5\@retina {
        width: 60%;
    }
    .u-4of5\@retina {
        width: 80%;
    }
}


//min-widths
.u-1of1- {
    min-width: 100%;
}
.u-1of2- {
    min-width: 50%;
}
.u-1of3- {
    min-width: 33.3333333333%;
}
.u-2of3- {
    min-width: 66.6666666667%;
}
.u-1of4- {
    min-width: 25%;
}
.u-2of4- {
    min-width: 50%;
}
.u-3of4- {
    min-width: 75%;
}
.u-1of5- {
    min-width: 20%;
}
.u-2of5- {
    min-width: 40%;
}
.u-3of5- {
    min-width: 60%;
}
.u-4of5- {
    min-width: 80%;
}

//min-widths
.u-1of1\+ {
    max-width: 100%;
}
.u-1of2\+ {
    max-width: 50%;
}
.u-1of3\+ {
    max-width: 33.3333333333%;
}
.u-2of3\+ {
    max-width: 66.6666666667%;
}
.u-1of4\+ {
    max-width: 25%;
}
.u-2of4\+ {
    max-width: 50%;
}
.u-3of4\+ {
    max-width: 75%;
}
.u-1of5\+ {
    max-width: 20%;
}
.u-2of5\+ {
    max-width: 40%;
}
.u-3of5\+ {
    max-width: 60%;
}
.u-4of5\+ {
    max-width: 80%;
}

.u-min--300 {
    min-width: 300px;
}
