/*------------------------------------*\
    #SPACING-RESPONSIVE
\*------------------------------------*/


.u-m0  { margin: 0 }
.u-mt0 { margin-top: 0 }
.u-mr0 { margin-right: 0 }
.u-mb0 { margin-bottom: 0 }
.u-ml0 { margin-left: 0 }

.u-m { margin: $base-spacing-unit; }
.u-mt { margin-top: $base-spacing-unit; }
.u-mr { margin-right: $base-spacing-unit; }
.u-mb { margin-bottom: $base-spacing-unit; }
.u-ml { margin-left: $base-spacing-unit; }
.u-mh { margin-right: $base-spacing-unit; margin-left: $base-spacing-unit; }
.u-mv { margin-top: $base-spacing-unit; margin-bottom: $base-spacing-unit; }

.u-m--  { margin: $base-spacing-unit--tiny }
.u-mt-- { margin-top: $base-spacing-unit--tiny }
.u-mr-- { margin-right: $base-spacing-unit--tiny }
.u-mb-- { margin-bottom: $base-spacing-unit--tiny }
.u-ml-- { margin-left: $base-spacing-unit--tiny }
.u-mh-- { margin-right: $base-spacing-unit--tiny; margin-left: $base-spacing-unit--tiny; }
.u-mv-- { margin-top: $base-spacing-unit--tiny; margin-bottom: $base-spacing-unit--tiny; }

.u-m-  { margin: $base-spacing-unit--small }
.u-mt- { margin-top: $base-spacing-unit--small }
.u-mr- { margin-right: $base-spacing-unit--small }
.u-mb- { margin-bottom: $base-spacing-unit--small }
.u-ml- { margin-left: $base-spacing-unit--small }
.u-mh- { margin-right: $base-spacing-unit--small; margin-left: $base-spacing-unit--small; }
.u-mv- { margin-top: $base-spacing-unit--small; margin-bottom: $base-spacing-unit--small; }


.u-m\+  { margin: $base-spacing-unit--large }
.u-mt\+ { margin-top: $base-spacing-unit--large }
.u-mr\+ { margin-right: $base-spacing-unit--large }
.u-mb\+ { margin-bottom: $base-spacing-unit--large }
.u-ml\+ { margin-left: $base-spacing-unit--large }
.u-mh\+ { margin-right: $base-spacing-unit--large; margin-left: $base-spacing-unit--large; }
.u-mv\+ { margin-top: $base-spacing-unit--large; margin-bottom: $base-spacing-unit--large; }


.u-m\+\+  { margin: $base-spacing-unit--huge }
.u-mt\+\+ { margin-top: $base-spacing-unit--huge }
.u-mr\+\+ { margin-right: $base-spacing-unit--huge }
.u-mb\+\+ { margin-bottom: $base-spacing-unit--huge }
.u-ml\+\+ { margin-left: $base-spacing-unit--huge }
.u-mh\+\+ { margin-right: $base-spacing-unit--huge; margin-left: $base-spacing-unit--huge; }
.u-mv\+\+ { margin-top: $base-spacing-unit--huge; margin-bottom: $base-spacing-unit--huge; }


.u-mhn { margin-left: -$base-spacing-unit; margin-right: -$base-spacing-unit }
.u-mhn-- { margin-left: -$base-spacing-unit--tiny; margin-right: -$base-spacing-unit--tiny }
.u-mhn- { margin-left: -$base-spacing-unit--small; margin-right: -$base-spacing-unit--small }
.u-mhn\+ { margin-left: -$base-spacing-unit--large; margin-right: -$base-spacing-unit--large }
.u-mhn\+\+ { margin-left: -$base-spacing-unit--huge; margin-right: -$base-spacing-unit--huge }

.u-mtn { margin-top: -$base-spacing-unit; }
.u-mtn-- { margin-top: -$base-spacing-unit--tiny; }
.u-mtn- { margin-top: -$base-spacing-unit--small; }
.u-mtn\+ { margin-top: -$base-spacing-unit--large; }
.u-mtn\+\+ { margin-top: -$base-spacing-unit--huge; }

.u-p0  { padding: 0 }
.u-pt0 { padding-top: 0 }
.u-pr0 { padding-right: 0 }
.u-pb0 { padding-bottom: 0 }
.u-pl0 { padding-left: 0 }

.u-p  { padding: $base-spacing-unit }
.u-pt { padding-top: $base-spacing-unit }
.u-pr { padding-right: $base-spacing-unit }
.u-pb { padding-bottom: $base-spacing-unit }
.u-pl { padding-left: $base-spacing-unit }
.u-ph { padding-left: $base-spacing-unit; padding-right: $base-spacing-unit }
.u-pv { padding-top: $base-spacing-unit; padding-bottom: $base-spacing-unit }

.u-p--  { padding: $base-spacing-unit--tiny }
.u-pt-- { padding-top: $base-spacing-unit--tiny }
.u-pr-- { padding-right: $base-spacing-unit--tiny }
.u-pb-- { padding-bottom: $base-spacing-unit--tiny }
.u-pl-- { padding-left: $base-spacing-unit--tiny }
.u-ph-- { padding-left: $base-spacing-unit--tiny; padding-right: $base-spacing-unit--tiny }
.u-pv-- { padding-top: $base-spacing-unit--tiny; padding-bottom: $base-spacing-unit--tiny }

.u-p-  { padding: $base-spacing-unit--small }
.u-pt- { padding-top: $base-spacing-unit--small }
.u-pr- { padding-right: $base-spacing-unit--small }
.u-pb- { padding-bottom: $base-spacing-unit--small }
.u-pl- { padding-left: $base-spacing-unit--small }
.u-ph- { padding-left: $base-spacing-unit--small; padding-right: $base-spacing-unit--small }
.u-pv- { padding-top: $base-spacing-unit--small; padding-bottom: $base-spacing-unit--small }

.u-p\+  { padding: $base-spacing-unit--large }
.u-pt\+ { padding-top: $base-spacing-unit--large }
.u-pr\+ { padding-right: $base-spacing-unit--large }
.u-pb\+ { padding-bottom: $base-spacing-unit--large }
.u-pl\+ { padding-left: $base-spacing-unit--large }
.u-ph\+ { padding-left: $base-spacing-unit--large; padding-right: $base-spacing-unit--large }
.u-pv\+ { padding-top: $base-spacing-unit--large; padding-bottom: $base-spacing-unit--large }

.u-p\+\+  { padding: $base-spacing-unit--huge }
.u-pt\+\+ { padding-top: $base-spacing-unit--huge }
.u-pr\+\+ { padding-right: $base-spacing-unit--huge }
.u-pb\+\+ { padding-bottom: $base-spacing-unit--huge }
.u-pl\+\+ { padding-left: $base-spacing-unit--huge }
.u-ph\+\+ { padding-left: $base-spacing-unit--huge; padding-right: $base-spacing-unit--huge }
.u-pv\+\+ { padding-top: $base-spacing-unit--huge; padding-bottom: $base-spacing-unit--huge }



.u-p\@respond {
    padding: $base-spacing-unit--small;
    @include md {
        padding: $base-spacing-unit;
    }
    // @include lg {
    //     padding: $base-spacing-unit--large;
    // }
}

.u-ph\@respond {
    padding-right: $base-spacing-unit--small;
    padding-left: $base-spacing-unit--small;
    @include md {
        padding-right: $base-spacing-unit;
        padding-left: $base-spacing-unit;
    }
    // @include lg {
    //     padding-right: $base-spacing-unit--large;
    //     padding-left: $base-spacing-unit--large;
    // }
}

.u-pv\@respond {
    padding-top: $base-spacing-unit--small;
    padding-bottom: $base-spacing-unit--small;
    @include md {
        padding-top: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
    }
    // @include lg {
    //     padding-top: $base-spacing-unit--large;
    //     padding-bottom: $base-spacing-unit--large;
    // }
}

.u-pt\@respond {
    padding-top: $base-spacing-unit--small;
    @include md {
        padding-top: $base-spacing-unit;
    }
    // @include lg {
    //     padding-top: $base-spacing-unit--large;
    // }
}

.u-pb\@respond {
    padding-bottom: $base-spacing-unit--small;
    @include md {
        padding-bottom: $base-spacing-unit;
    }
    // @include lg {
    //     padding-bottom: $base-spacing-unit--large;
    // }
}

.u-pl\@respond {
    padding-left: $base-spacing-unit--small;
    @include md {
        padding-left: $base-spacing-unit;
    }
    // @include lg {
    //     padding-left: $base-spacing-unit--large;
    // }
}

.u-pr\@respond {
    padding-right: $base-spacing-unit--small;
    @include md {
        padding-right: $base-spacing-unit;
    }
    // @include lg {
    //     padding-right: $base-spacing-unit--large;
    // }
}

// Margins
.u-m\@respond {
    margin: $base-spacing-unit--small;
    @include md {
        margin: $base-spacing-unit;
    }
    // @include lg {
    //     margin: $base-spacing-unit--large;
    // }
}

.u-mhAuto {
    margin-left: auto;
    margin-right: auto;
}

.u-mh\@respond {
    margin-right: $base-spacing-unit--small;
    margin-left: $base-spacing-unit--small;
    @include md {
        margin-right: $base-spacing-unit;
        margin-left: $base-spacing-unit;
    }
    // @include lg {
    //     margin-right: $base-spacing-unit--large;
    //     margin-left: $base-spacing-unit--large;
    // }
}

.u-mv\@respond {
    margin-top: $base-spacing-unit--small;
    margin-bottom: $base-spacing-unit--small;
    @include md {
        margin-top: $base-spacing-unit;
        margin-bottom: $base-spacing-unit;
    }
    // @include lg {
    //     margin-top: $base-spacing-unit--large;
    //     margin-bottom: $base-spacing-unit--large;
    // }
}

.u-mt\@respond {
    margin-top: $base-spacing-unit--small;
    @include md {
        margin-top: $base-spacing-unit;
    }
    // @include lg {
    //     margin-top: $base-spacing-unit--large;
    // }
}

.u-mb\@respond {
    margin-bottom: $base-spacing-unit--small;
    @include md {
        margin-bottom: $base-spacing-unit;
    }
    // @include lg {
    //     margin-bottom: $base-spacing-unit--large;
    // }
}

.u-ml\@respond {
    margin-left: $base-spacing-unit--small;
    @include md {
        margin-left: $base-spacing-unit;
    }
    // @include lg {
    //     margin-left: $base-spacing-unit--large;
    // }
}

.u-mr\@respond {
    margin-right: $base-spacing-unit--small;
    @include md {
        margin-right: $base-spacing-unit;
    }
    // @include lg {
    //     margin-right: $base-spacing-unit--large;
    // }
}

.u-p-cradle {
    padding-left: $base-spacing-unit--small;
    padding-right: $base-spacing-unit--small;
    padding-bottom: $base-spacing-unit--small;
}
