/*------------------------------------*\
    #SPACING-RESPONSIVE
\*------------------------------------*/

/*------------------------------------*\
    #SPACING
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-spacing-namespace:               $inuit-namespace !default;

$inuit-margin:                          $inuit-base-spacing-unit !default;
$inuit-margin--small:                       halve($inuit-margin) !default;
$inuit-margin--tiny:                      quarter($inuit-margin) !default;
$inuit-margin--large:                      double($inuit-margin) !default;
$inuit-margin--huge:                    quadruple($inuit-margin) !default;

$inuit-padding:                         $inuit-base-spacing-unit !default;
$inuit-padding--small:                      halve($inuit-padding) !default;
$inuit-padding--tiny:                     quarter($inuit-padding) !default;
$inuit-padding--large:                     double($inuit-padding) !default;
$inuit-padding--huge:                   quadruple($inuit-padding) !default;

$inuit-enable-margins:                  true !default;
$inuit-enable-margins--tiny:            true !default;
$inuit-enable-margins--small:           true !default;
$inuit-enable-margins--large:           true !default;
$inuit-enable-margins--huge:            true !default;

$inuit-enable-margins--negative:        false !default;
$inuit-enable-margins--negative-tiny:   false !default;
$inuit-enable-margins--negative-small:  false !default;
$inuit-enable-margins--negative-large:  false !default;
$inuit-enable-margins--negative-huge:   false !default;

$inuit-enable-margins--none:            true !default;

$inuit-enable-paddings:                 true !default;
$inuit-enable-paddings--tiny:           true !default;
$inuit-enable-paddings--small:          true !default;
$inuit-enable-paddings--large:          true !default;
$inuit-enable-paddings--huge:           true !default;

$inuit-enable-paddings--none:           true !default;





@if ($inuit-enable-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    .#{$inuit-spacing-namespace}u-m     { margin:           $inuit-margin; }
    .#{$inuit-spacing-namespace}u-mt    { margin-top:       $inuit-margin; }
    .#{$inuit-spacing-namespace}u-mr    { margin-right:     $inuit-margin; }
    .#{$inuit-spacing-namespace}u-mb    { margin-bottom:    $inuit-margin; }
    .#{$inuit-spacing-namespace}u-ml    { margin-left:      $inuit-margin; }
    .#{$inuit-spacing-namespace}u-mh    { margin-right:     $inuit-margin; margin-left:      $inuit-margin; }
    .#{$inuit-spacing-namespace}u-mv    { margin-top:       $inuit-margin; margin-bottom:    $inuit-margin; }

}


@if ($inuit-enable-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    .#{$inuit-spacing-namespace}u-m--   { margin:           $inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u-mt--  { margin-top:       $inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u-mr--  { margin-right:     $inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u-mb--  { margin-bottom:    $inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u-ml--  { margin-left:      $inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u-mh--  { margin-right:     $inuit-margin--tiny; margin-left:     $inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u-mv--  { margin-top:       $inuit-margin--tiny; margin-bottom:   $inuit-margin--tiny; }

}


@if ($inuit-enable-margins--small == true) {

    /**
     * Add small margins.
     */

    .#{$inuit-spacing-namespace}u-m-    { margin:           $inuit-margin--small; }
    .#{$inuit-spacing-namespace}u-mt-   { margin-top:       $inuit-margin--small; }
    .#{$inuit-spacing-namespace}u-mr-   { margin-right:     $inuit-margin--small; }
    .#{$inuit-spacing-namespace}u-mb-   { margin-bottom:    $inuit-margin--small; }
    .#{$inuit-spacing-namespace}u-ml-   { margin-left:      $inuit-margin--small; }
    .#{$inuit-spacing-namespace}u-mh-   { margin-right:     $inuit-margin--small; margin-left:   $inuit-margin--small; }
    .#{$inuit-spacing-namespace}u-mv-   { margin-top:       $inuit-margin--small; margin-bottom: $inuit-margin--small; }

}


@if ($inuit-enable-margins--large == true) {

    /**
     * Add large margins.
     */

    .#{$inuit-spacing-namespace}u-m\+   { margin:           $inuit-margin--large; }
    .#{$inuit-spacing-namespace}u-mt\+  { margin-top:       $inuit-margin--large; }
    .#{$inuit-spacing-namespace}u-mr\+  { margin-right:     $inuit-margin--large; }
    .#{$inuit-spacing-namespace}u-mb\+  { margin-bottom:    $inuit-margin--large; }
    .#{$inuit-spacing-namespace}u-ml\+  { margin-left:      $inuit-margin--large; }
    .#{$inuit-spacing-namespace}u-mh\+  { margin-right:     $inuit-margin--large; margin-left:      $inuit-margin--large; }
    .#{$inuit-spacing-namespace}u-mv\+  { margin-top:       $inuit-margin--large; margin-bottom:    $inuit-margin--large; }

}


@if ($inuit-enable-margins--huge == true) {

    /**
     * Add huge margins.
     */

    .#{$inuit-spacing-namespace}u-m\+\+     { margin:           $inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u-mt\+\+    { margin-top:       $inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u-mr\+\+    { margin-right:     $inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u-mb\+\+    { margin-bottom:    $inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u-ml\+\+    { margin-left:      $inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u-mh\+\+    { margin-right:     $inuit-margin--huge; margin-left:   $inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u-mv\+\+    { margin-top:       $inuit-margin--huge; margin-bottom: $inuit-margin--huge; }

}


@if ($inuit-enable-margins--none == true) {

    /**
     * Remove margins.
     */

    .#{$inuit-spacing-namespace}u-m0    { margin:           0; }
    .#{$inuit-spacing-namespace}u-mt0   { margin-top:       0; }
    .#{$inuit-spacing-namespace}u-mr0   { margin-right:     0; }
    .#{$inuit-spacing-namespace}u-mb0   { margin-bottom:    0; }
    .#{$inuit-spacing-namespace}u-ml0   { margin-left:      0; }
    .#{$inuit-spacing-namespace}u-mh0   { margin-right:     0; margin-left:      0; }
    .#{$inuit-spacing-namespace}u-mv0   { margin-top:       0; margin-bottom:    0; }

}


@if ($inuit-enable-margins--negative == true) {

    /**
     * Negative margins.
     */

    .#{$inuit-spacing-namespace}u--m    { margin:           -$inuit-margin; }
    .#{$inuit-spacing-namespace}u--mt   { margin-top:       -$inuit-margin; }
    .#{$inuit-spacing-namespace}u--mr   { margin-right:     -$inuit-margin; }
    .#{$inuit-spacing-namespace}u--mb   { margin-bottom:    -$inuit-margin; }
    .#{$inuit-spacing-namespace}u--ml   { margin-left:      -$inuit-margin; }
    .#{$inuit-spacing-namespace}u--mh   { margin-right:     -$inuit-margin; margin-left:      -$inuit-margin; }
    .#{$inuit-spacing-namespace}u--mv   { margin-top:       -$inuit-margin; margin-bottom:    -$inuit-margin; }

}


@if ($inuit-enable-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    .#{$inuit-spacing-namespace}u--m--  { margin:           -$inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u--mt-- { margin-top:       -$inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u--mr-- { margin-right:     -$inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u--mb-- { margin-bottom:    -$inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u--ml-- { margin-left:      -$inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u--mh-- { margin-right:     -$inuit-margin--tiny; margin-left:     -$inuit-margin--tiny; }
    .#{$inuit-spacing-namespace}u--mv-- { margin-top:       -$inuit-margin--tiny; margin-bottom:   -$inuit-margin--huge; }

}


@if ($inuit-enable-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    .#{$inuit-spacing-namespace}u--m-   { margin:           -$inuit-margin--small; }
    .#{$inuit-spacing-namespace}u--mt-  { margin-top:       -$inuit-margin--small; }
    .#{$inuit-spacing-namespace}u--mr-  { margin-right:     -$inuit-margin--small; }
    .#{$inuit-spacing-namespace}u--mb-  { margin-bottom:    -$inuit-margin--small; }
    .#{$inuit-spacing-namespace}u--ml-  { margin-left:      -$inuit-margin--small; }
    .#{$inuit-spacing-namespace}u--mh-  { margin-right:     -$inuit-margin--small; margin-left:   -$inuit-margin--small; }
    .#{$inuit-spacing-namespace}u--mv-  { margin-top:       -$inuit-margin--small; margin-bottom: -$inuit-margin--small; }

}


@if ($inuit-enable-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    .#{$inuit-spacing-namespace}u--m\+  { margin:           -$inuit-margin--large; }
    .#{$inuit-spacing-namespace}u--mt\+ { margin-top:       -$inuit-margin--large; }
    .#{$inuit-spacing-namespace}u--mr\+ { margin-right:     -$inuit-margin--large; }
    .#{$inuit-spacing-namespace}u--mb\+ { margin-bottom:    -$inuit-margin--large; }
    .#{$inuit-spacing-namespace}u--ml\+ { margin-left:      -$inuit-margin--large; }
    .#{$inuit-spacing-namespace}u--mh\+ { margin-right:     -$inuit-margin--large; margin-left:      -$inuit-margin--large; }
    .#{$inuit-spacing-namespace}u--mv\+ { margin-top:       -$inuit-margin--large; margin-bottom:    -$inuit-margin--large; }

}


@if ($inuit-enable-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    .#{$inuit-spacing-namespace}u--m\+\+    { margin:           -$inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u--mt\+\+   { margin-top:       -$inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u--mr\+\+   { margin-right:     -$inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u--mb\+\+   { margin-bottom:    -$inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u--ml\+\+   { margin-left:      -$inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u--mh\+\+   { margin-right:     -$inuit-margin--huge; margin-left:   -$inuit-margin--huge; }
    .#{$inuit-spacing-namespace}u--mv\+\+   { margin-top:       -$inuit-margin--huge; margin-bottom: -$inuit-margin--huge; }

}





@if ($inuit-enable-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    .#{$inuit-spacing-namespace}u-p     { padding:          $inuit-padding; }
    .#{$inuit-spacing-namespace}u-pt    { padding-top:      $inuit-padding; }
    .#{$inuit-spacing-namespace}u-pr    { padding-right:    $inuit-padding; }
    .#{$inuit-spacing-namespace}u-pb    { padding-bottom:   $inuit-padding; }
    .#{$inuit-spacing-namespace}u-pl    { padding-left:     $inuit-padding; }
    .#{$inuit-spacing-namespace}u-ph    { padding-right:    $inuit-padding; padding-left:    $inuit-padding; }
    .#{$inuit-spacing-namespace}u-pv    { padding-top:      $inuit-padding; padding-bottom:  $inuit-padding; }

}


@if ($inuit-enable-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    .#{$inuit-spacing-namespace}u-p--   { padding:           $inuit-padding--tiny; }
    .#{$inuit-spacing-namespace}u-pt--  { padding-top:       $inuit-padding--tiny; }
    .#{$inuit-spacing-namespace}u-pr--  { padding-right:     $inuit-padding--tiny; }
    .#{$inuit-spacing-namespace}u-pb--  { padding-bottom:    $inuit-padding--tiny; }
    .#{$inuit-spacing-namespace}u-pl--  { padding-left:      $inuit-padding--tiny; }
    .#{$inuit-spacing-namespace}u-ph--  { padding-right:     $inuit-padding--tiny; padding-left:      $inuit-padding--tiny; }
    .#{$inuit-spacing-namespace}u-pv--  { padding-top:       $inuit-padding--tiny; padding-bottom:    $inuit-padding--tiny; }

}


@if ($inuit-enable-paddings--small == true) {

    /**
     * Add small paddings.
     */

    .#{$inuit-spacing-namespace}u-p-    { padding:           $inuit-padding--small; }
    .#{$inuit-spacing-namespace}u-pt-   { padding-top:       $inuit-padding--small; }
    .#{$inuit-spacing-namespace}u-pr-   { padding-right:     $inuit-padding--small; }
    .#{$inuit-spacing-namespace}u-pb-   { padding-bottom:    $inuit-padding--small; }
    .#{$inuit-spacing-namespace}u-pl-   { padding-left:      $inuit-padding--small; }
    .#{$inuit-spacing-namespace}u-ph-   { padding-right:     $inuit-padding--small; padding-left:    $inuit-padding--small; }
    .#{$inuit-spacing-namespace}u-pv-   { padding-top:       $inuit-padding--small; padding-bottom:  $inuit-padding--small; }

}


@if ($inuit-enable-paddings--large == true) {

    /**
     * Add large paddings.
     */

    .#{$inuit-spacing-namespace}u-p\+   { padding:           $inuit-padding--large; }
    .#{$inuit-spacing-namespace}u-pt\+  { padding-top:       $inuit-padding--large; }
    .#{$inuit-spacing-namespace}u-pr\+  { padding-right:     $inuit-padding--large; }
    .#{$inuit-spacing-namespace}u-pb\+  { padding-bottom:    $inuit-padding--large; }
    .#{$inuit-spacing-namespace}u-pl\+  { padding-left:      $inuit-padding--large; }
    .#{$inuit-spacing-namespace}u-ph\+  { padding-right:     $inuit-padding--large; padding-left:   $inuit-padding--large; }
    .#{$inuit-spacing-namespace}u-pv\+  { padding-top:       $inuit-padding--large; padding-bottom: $inuit-padding--large; }

}


@if ($inuit-enable-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    .#{$inuit-spacing-namespace}u-p\+\+     { padding:           $inuit-padding--huge; }
    .#{$inuit-spacing-namespace}u-pt\+\+    { padding-top:       $inuit-padding--huge; }
    .#{$inuit-spacing-namespace}u-pr\+\+    { padding-right:     $inuit-padding--huge; }
    .#{$inuit-spacing-namespace}u-pb\+\+    { padding-bottom:    $inuit-padding--huge; }
    .#{$inuit-spacing-namespace}u-pl\+\+    { padding-left:      $inuit-padding--huge; }
    .#{$inuit-spacing-namespace}u-ph\+\+    { padding-right:     $inuit-padding--huge; padding-left:    $inuit-padding--huge; }
    .#{$inuit-spacing-namespace}u-pv\+\+    { padding-top:       $inuit-padding--huge; padding-bottom:  $inuit-padding--huge; }

}


@if ($inuit-enable-paddings--none == true) {

    /**
     * Remove paddings.
     */

    .#{$inuit-spacing-namespace}u-p0    { padding:          0; }
    .#{$inuit-spacing-namespace}u-pt0   { padding-top:      0; }
    .#{$inuit-spacing-namespace}u-pr0   { padding-right:    0; }
    .#{$inuit-spacing-namespace}u-pb0   { padding-bottom:   0; }
    .#{$inuit-spacing-namespace}u-pl0   { padding-left:     0; }
    .#{$inuit-spacing-namespace}u-ph0   { padding-right:    0; padding-left:     0; }
    .#{$inuit-spacing-namespace}u-pv0   { padding-top:      0; padding-bottom:   0; }

}

/*------------------------------------*\
    #SPACING-RESPONSIVE
\*------------------------------------*/


/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Predefine the variables below in order to alter and enable specific features.
$inuit-enable-responsive-margins:                   true !default;
$inuit-enable-responsive-margins--tiny:             true !default;
$inuit-enable-responsive-margins--small:            true !default;
$inuit-enable-responsive-margins--large:            true !default;
$inuit-enable-responsive-margins--huge:             true !default;

$inuit-enable-responsive-margins--negative:         false !default;
$inuit-enable-responsive-margins--negative-tiny:    false !default;
$inuit-enable-responsive-margins--negative-small:   false !default;
$inuit-enable-responsive-margins--negative-large:   false !default;
$inuit-enable-responsive-margins--negative-huge:    false !default;

$inuit-enable-responsive-margins--none:             true !default;

$inuit-enable-responsive-paddings:                  true !default;
$inuit-enable-responsive-paddings--tiny:            true !default;
$inuit-enable-responsive-paddings--small:           true !default;
$inuit-enable-responsive-paddings--large:           true !default;
$inuit-enable-responsive-paddings--huge:            true !default;

$inuit-enable-responsive-paddings--none:            true !default;






// Keep a global variable for the spacing alias so the @content passed into the
// `inuit-generate-spacing` mixin will generate correctly.
$inuit-generate-spacing-alias: null;

// Internally used mixin to quickly generate our different variants based upon
// the breakpoints defined in `settings.responsive`.

@mixin inuit-generate-spacing() {

    // Loop through our previously-defined breakpoints.
    @each $breakpoint in $breakpoints {

        $inuit-generate-spacing-alias:      nth($breakpoint, 1);
        $inuit-generate-spacing-condition:  nth($breakpoint, 2);

        // This isn’t ideal, but we definitely don’t want to generate widths
        // for retina devices. Exclude retina media-qeuries manually.
        @if ($inuit-generate-spacing-alias != "retina") {

            @include media-query($inuit-generate-spacing-alias) {
                @content;
            } // Close media query.

        } // Close retina check.

        // Reset the global spacing alias back to null;
        $inuit-generate-spacing-alias: null;

    } // Close breakpoints loop.

}





@if ($inuit-enable-responsive-margins == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m\@#{$inuit-generate-spacing-alias}        { margin:           $inuit-margin; }
        .#{$inuit-spacing-namespace}u-mt\@#{$inuit-generate-spacing-alias}       { margin-top:       $inuit-margin; }
        .#{$inuit-spacing-namespace}u-mr\@#{$inuit-generate-spacing-alias}       { margin-right:     $inuit-margin; }
        .#{$inuit-spacing-namespace}u-mb\@#{$inuit-generate-spacing-alias}       { margin-bottom:    $inuit-margin; }
        .#{$inuit-spacing-namespace}u-ml\@#{$inuit-generate-spacing-alias}       { margin-left:      $inuit-margin; }
        .#{$inuit-spacing-namespace}u-mh\@#{$inuit-generate-spacing-alias}       { margin-right:     $inuit-margin; margin-left:      $inuit-margin; }
        .#{$inuit-spacing-namespace}u-mv\@#{$inuit-generate-spacing-alias}       { margin-top:       $inuit-margin; margin-bottom:    $inuit-margin; }

    }

}


@if ($inuit-enable-responsive-margins--tiny == true) {

    /**
     * Add tiny margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m--\@#{$inuit-generate-spacing-alias}      { margin:           $inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u-mt--\@#{$inuit-generate-spacing-alias}     { margin-top:       $inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u-mr--\@#{$inuit-generate-spacing-alias}     { margin-right:     $inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u-mb--\@#{$inuit-generate-spacing-alias}     { margin-bottom:    $inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u-ml--\@#{$inuit-generate-spacing-alias}     { margin-left:      $inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u-mh--\@#{$inuit-generate-spacing-alias}     { margin-right:     $inuit-margin--tiny; margin-left:     $inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u-mv--\@#{$inuit-generate-spacing-alias}     { margin-top:       $inuit-margin--tiny; margin-bottom:   $inuit-margin--tiny; }

    }

}


@if ($inuit-enable-responsive-margins--small == true) {

    /**
     * Add small margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m-\@#{$inuit-generate-spacing-alias}       { margin:           $inuit-margin--small; }
        .#{$inuit-spacing-namespace}u-mt-\@#{$inuit-generate-spacing-alias}      { margin-top:       $inuit-margin--small; }
        .#{$inuit-spacing-namespace}u-mr-\@#{$inuit-generate-spacing-alias}      { margin-right:     $inuit-margin--small; }
        .#{$inuit-spacing-namespace}u-mb-\@#{$inuit-generate-spacing-alias}      { margin-bottom:    $inuit-margin--small; }
        .#{$inuit-spacing-namespace}u-ml-\@#{$inuit-generate-spacing-alias}      { margin-left:      $inuit-margin--small; }
        .#{$inuit-spacing-namespace}u-mh-\@#{$inuit-generate-spacing-alias}      { margin-right:     $inuit-margin--small; margin-left:   $inuit-margin--small; }
        .#{$inuit-spacing-namespace}u-mv-\@#{$inuit-generate-spacing-alias}      { margin-top:       $inuit-margin--small; margin-bottom: $inuit-margin--small; }

    }

}


@if ($inuit-enable-responsive-margins--large == true) {

    /**
     * Add large margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m\+\@#{$inuit-generate-spacing-alias}      { margin:           $inuit-margin--large; }
        .#{$inuit-spacing-namespace}u-mt\+\@#{$inuit-generate-spacing-alias}     { margin-top:       $inuit-margin--large; }
        .#{$inuit-spacing-namespace}u-mr\+\@#{$inuit-generate-spacing-alias}     { margin-right:     $inuit-margin--large; }
        .#{$inuit-spacing-namespace}u-mb\+\@#{$inuit-generate-spacing-alias}     { margin-bottom:    $inuit-margin--large; }
        .#{$inuit-spacing-namespace}u-ml\+\@#{$inuit-generate-spacing-alias}     { margin-left:      $inuit-margin--large; }
        .#{$inuit-spacing-namespace}u-mh\+\@#{$inuit-generate-spacing-alias}     { margin-right:     $inuit-margin--large; margin-left:      $inuit-margin--large; }
        .#{$inuit-spacing-namespace}u-mv\+\@#{$inuit-generate-spacing-alias}     { margin-top:       $inuit-margin--large; margin-bottom:    $inuit-margin--large; }

    }

}


@if ($inuit-enable-responsive-margins--huge == true) {

    /**
     * Add huge margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-m\+\+\@#{$inuit-generate-spacing-alias}    { margin:           $inuit-margin--huge; }
        .#{$inuit-spacing-namespace}u-mt\+\+\@#{$inuit-generate-spacing-alias}   { margin-top:       $inuit-margin--huge; }
        .#{$inuit-spacing-namespace}u-mr\+\+\@#{$inuit-generate-spacing-alias}   { margin-right:     $inuit-margin--huge; }
        .#{$inuit-spacing-namespace}u-mb\+\+\@#{$inuit-generate-spacing-alias}   { margin-bottom:    $inuit-margin--huge; }
        .#{$inuit-spacing-namespace}u-ml\+\+\@#{$inuit-generate-spacing-alias}   { margin-left:      $inuit-margin--huge; }
        .#{$inuit-spacing-namespace}u-mh\+\+\@#{$inuit-generate-spacing-alias}   { margin-right:     $inuit-margin--huge; margin-left:   $inuit-margin--huge; }
        .#{$inuit-spacing-namespace}u-mv\+\+\@#{$inuit-generate-spacing-alias}   { margin-top:       $inuit-margin--huge; margin-bottom: $inuit-margin--huge; }

    }

}


@if ($inuit-enable-responsive-margins--none == true) {

    /**
     * Remove margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-m0       { margin:           0; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-mt0      { margin-top:       0; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-mr0      { margin-right:     0; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-mb0      { margin-bottom:    0; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-ml0      { margin-left:      0; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-mh0      { margin-right:     0; margin-left:      0; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}-mv0      { margin-top:       0; margin-bottom:    0; }

    }

}


@if ($inuit-enable-responsive-margins--negative == true) {

    /**
     * Negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--m       { margin:           -$inuit-margin; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mt      { margin-top:       -$inuit-margin; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mr      { margin-right:     -$inuit-margin; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mb      { margin-bottom:    -$inuit-margin; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--ml      { margin-left:      -$inuit-margin; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mh      { margin-right:     -$inuit-margin; margin-left:      -$inuit-margin; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mv      { margin-top:       -$inuit-margin; margin-bottom:    -$inuit-margin; }

    }

}


@if ($inuit-enable-responsive-margins--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--m--     { margin:           -$inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mt--    { margin-top:       -$inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mr--    { margin-right:     -$inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mb--    { margin-bottom:    -$inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--ml--    { margin-left:      -$inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mh--    { margin-right:     -$inuit-margin--tiny; margin-left:     -$inuit-margin--tiny; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mv--    { margin-top:       -$inuit-margin--tiny; margin-bottom:   -$inuit-margin--tiny; }

    }

}


@if ($inuit-enable-responsive-margins--negative-small == true) {

    /**
     * Small negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--m-      { margin:           -$inuit-margin--small; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mt-     { margin-top:       -$inuit-margin--small; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mr-     { margin-right:     -$inuit-margin--small; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mb-     { margin-bottom:    -$inuit-margin--small; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--ml-     { margin-left:      -$inuit-margin--small; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mh-     { margin-right:     -$inuit-margin--small; margin-left:   -$inuit-margin--small; }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mv-     { margin-top:       -$inuit-margin--small; margin-bottom: -$inuit-margin--small; }

    }

}


@if ($inuit-enable-responsive-margins--negative-large == true) {

    /**
     * Large negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--m\+     { margin:           double(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mt\+    { margin-top:       double(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mr\+    { margin-right:     double(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mb\+    { margin-bottom:    double(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--ml\+    { margin-left:      double(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mh\+    { margin-right:     double(-$inuit-margin); margin-left:      double(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mv\+    { margin-top:       double(-$inuit-margin); margin-bottom:    double(-$inuit-margin); }

    }

}


@if ($inuit-enable-responsive-margins--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--m\+\+   { margin:           quadruple(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mt\+\+  { margin-top:       quadruple(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mr\+\+  { margin-right:     quadruple(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mb\+\+  { margin-bottom:    quadruple(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--ml\+\+  { margin-left:      quadruple(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mh\+\+  { margin-right:     quadruple(-$inuit-margin); margin-left:   quadruple(-$inuit-margin); }
        .#{$inuit-spacing-namespace}u\@#{$inuit-generate-spacing-alias}--mv\+\+  { margin-top:       quadruple(-$inuit-margin); margin-bottom: quadruple(-$inuit-margin); }

    }

}





@if ($inuit-enable-responsive-paddings == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-p\@#{$inuit-generate-spacing-alias}       { padding:          $inuit-padding; }
        .#{$inuit-spacing-namespace}u-pt\@#{$inuit-generate-spacing-alias}      { padding-top:      $inuit-padding; }
        .#{$inuit-spacing-namespace}u-pr\@#{$inuit-generate-spacing-alias}      { padding-right:    $inuit-padding; }
        .#{$inuit-spacing-namespace}u-pb\@#{$inuit-generate-spacing-alias}      { padding-bottom:   $inuit-padding; }
        .#{$inuit-spacing-namespace}u-pl\@#{$inuit-generate-spacing-alias}      { padding-left:     $inuit-padding; }
        .#{$inuit-spacing-namespace}u-ph\@#{$inuit-generate-spacing-alias}      { padding-right:    $inuit-padding; padding-left:    $inuit-padding; }
        .#{$inuit-spacing-namespace}u-pv\@#{$inuit-generate-spacing-alias}      { padding-top:      $inuit-padding; padding-bottom:  $inuit-padding; }

    }

}


@if ($inuit-enable-responsive-paddings--tiny == true) {

    /**
     * Add tiny paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-p--\@#{$inuit-generate-spacing-alias}     { padding:           $inuit-padding--tiny; }
        .#{$inuit-spacing-namespace}u-pt--\@#{$inuit-generate-spacing-alias}    { padding-top:       $inuit-padding--tiny; }
        .#{$inuit-spacing-namespace}u-pr--\@#{$inuit-generate-spacing-alias}    { padding-right:     $inuit-padding--tiny; }
        .#{$inuit-spacing-namespace}u-pb--\@#{$inuit-generate-spacing-alias}    { padding-bottom:    $inuit-padding--tiny; }
        .#{$inuit-spacing-namespace}u-pl--\@#{$inuit-generate-spacing-alias}    { padding-left:      $inuit-padding--tiny; }
        .#{$inuit-spacing-namespace}u-ph--\@#{$inuit-generate-spacing-alias}    { padding-right:     $inuit-padding--tiny; padding-left:      $inuit-padding--tiny; }
        .#{$inuit-spacing-namespace}u-pv--\@#{$inuit-generate-spacing-alias}    { padding-top:       $inuit-padding--tiny; padding-bottom:    $inuit-padding--tiny; }

    }

}


@if ($inuit-enable-responsive-paddings--small == true) {

    /**
     * Add small paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-p-\@#{$inuit-generate-spacing-alias}      { padding:           $inuit-padding--small; }
        .#{$inuit-spacing-namespace}u-pt-\@#{$inuit-generate-spacing-alias}     { padding-top:       $inuit-padding--small; }
        .#{$inuit-spacing-namespace}u-pr-\@#{$inuit-generate-spacing-alias}     { padding-right:     $inuit-padding--small; }
        .#{$inuit-spacing-namespace}u-pb-\@#{$inuit-generate-spacing-alias}     { padding-bottom:    $inuit-padding--small; }
        .#{$inuit-spacing-namespace}u-pl-\@#{$inuit-generate-spacing-alias}     { padding-left:      $inuit-padding--small; }
        .#{$inuit-spacing-namespace}u-ph-\@#{$inuit-generate-spacing-alias}     { padding-right:     $inuit-padding--small; padding-left:    $inuit-padding--small; }
        .#{$inuit-spacing-namespace}u-pv-\@#{$inuit-generate-spacing-alias}     { padding-top:       $inuit-padding--small; padding-bottom:  $inuit-padding--small; }

    }

}


@if ($inuit-enable-responsive-paddings--large == true) {

    /**
     * Add large paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-p\+\@#{$inuit-generate-spacing-alias}     { padding:           $inuit-padding--large; }
        .#{$inuit-spacing-namespace}u-pt\+\@#{$inuit-generate-spacing-alias}    { padding-top:       $inuit-padding--large; }
        .#{$inuit-spacing-namespace}u-pr\+\@#{$inuit-generate-spacing-alias}    { padding-right:     $inuit-padding--large; }
        .#{$inuit-spacing-namespace}u-pb\+\@#{$inuit-generate-spacing-alias}    { padding-bottom:    $inuit-padding--large; }
        .#{$inuit-spacing-namespace}u-pl\+\@#{$inuit-generate-spacing-alias}    { padding-left:      $inuit-padding--large; }
        .#{$inuit-spacing-namespace}u-ph\+\@#{$inuit-generate-spacing-alias}    { padding-right:     $inuit-padding--large; padding-left:   $inuit-padding--large; }
        .#{$inuit-spacing-namespace}u-pv\+\@#{$inuit-generate-spacing-alias}    { padding-top:       $inuit-padding--large; padding-bottom: $inuit-padding--large; }

    }

}


@if ($inuit-enable-responsive-paddings--huge == true) {

    /**
     * Add huge paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-p\+\+\@#{$inuit-generate-spacing-alias}   { padding:           $inuit-padding--huge; }
        .#{$inuit-spacing-namespace}u-pt\+\+\@#{$inuit-generate-spacing-alias}  { padding-top:       $inuit-padding--huge; }
        .#{$inuit-spacing-namespace}u-pr\+\+\@#{$inuit-generate-spacing-alias}  { padding-right:     $inuit-padding--huge; }
        .#{$inuit-spacing-namespace}u-pb\+\+\@#{$inuit-generate-spacing-alias}  { padding-bottom:    $inuit-padding--huge; }
        .#{$inuit-spacing-namespace}u-pl\+\+\@#{$inuit-generate-spacing-alias}  { padding-left:      $inuit-padding--huge; }
        .#{$inuit-spacing-namespace}u-ph\+\+\@#{$inuit-generate-spacing-alias}  { padding-right:     $inuit-padding--huge; padding-left:    $inuit-padding--huge; }
        .#{$inuit-spacing-namespace}u-pv\+\+\@#{$inuit-generate-spacing-alias}  { padding-top:       $inuit-padding--huge; padding-bottom:  $inuit-padding--huge; }

    }

}


@if ($inuit-enable-responsive-paddings--none == true) {

    /**
     * Remove paddings.
     */

    @include inuit-generate-spacing() {

        .#{$inuit-spacing-namespace}u-p0\@#{$inuit-generate-spacing-alias}      { padding:          0; }
        .#{$inuit-spacing-namespace}u-pt0\@#{$inuit-generate-spacing-alias}     { padding-top:      0; }
        .#{$inuit-spacing-namespace}u-pr0\@#{$inuit-generate-spacing-alias}     { padding-right:    0; }
        .#{$inuit-spacing-namespace}u-pb0\@#{$inuit-generate-spacing-alias}     { padding-bottom:   0; }
        .#{$inuit-spacing-namespace}u-pl0\@#{$inuit-generate-spacing-alias}     { padding-left:     0; }
        .#{$inuit-spacing-namespace}u-ph0\@#{$inuit-generate-spacing-alias}     { padding-right:    0; padding-left:     0; }
        .#{$inuit-spacing-namespace}u-pv0\@#{$inuit-generate-spacing-alias}     { padding-top:      0; padding-bottom:   0; }

    }

}
