@charset "UTF-8";

.u-mt- {
    margin-top: 12px;
}

.u-mr- {
    margin-right: 12px;
}

.u-mb- {
    margin-bottom: 12px;
}


.u-m0 {
    margin: 0;
}
.u-pt-wrap,
.u-pt-wrap {
    padding-top: 12px;
}

.u-pr- {
    padding-right: 12px;
}

.u-pl- {
    padding-left: 12px;
}

@media screen and (min-width: 48em) {
    .u-mt\@md {
        margin-top: 24px;
    }
    .u-mb\@md {
        margin-bottom: 24px;
    }
    .u-pt-wrap {
        padding-top: 24px;
    }
    .u-pr\@md {
        padding-right: 24px;
    }
    .u-pl\@md {
        padding-left: 24px;
    }
    .u-ph\@md {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (min-width: 64em) {
    .u-mt\+\@lg {
        margin-top: 48px;
    }
    .u-mb\+\@lg {
        margin-bottom: 48px;
    }
    .u-pt-wrap {
        padding-top: 48px;
    }
    .u-pr\+\@lg {
        padding-right: 48px;
    }
    .u-pl\+\@lg {
        padding-left: 48px;
    }
}

@media screen and (max-width: 35.5em) {
    .u-1of1\@sm {
        width: 100% !important;
    }
}

@media screen and (min-width: 48em) {
    .u-1of3\@md {
        width: 33.3333333333% !important;
    }
    .u-2of3\@md {
        width: 66.6666666667% !important;
    }
}


h1 {
    margin: 24px 0 12px;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.3333333333;
}

h2 {
    margin: 24px 0 6px;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6;
}

h3 {
    margin: 24px 0 6px;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
}

h1,
h2,
h3{
    opacity: 0.7;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}
p,
table{
    margin-bottom: 24px;
}


:root {
    overflow-y: scroll;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: default;
    text-rendering: optimizeLegibility;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


* {
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
    word-wrap: break-word;
    -webkit-transition: 0.35s;
    transition: 0.35s;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

*,
::after,
::before {
    box-sizing: inherit;
    border-width: 0;
    border-style: solid;
}

::after,
::before {
    vertical-align: inherit;
    text-decoration: inherit;
}

html {
    min-height: 100%;
    color: #1f1f1f;
    background-color: #fff;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #1f1f1f;
    background-color: #fffaf5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}
@media screen and (max-width: 35.5em) {
    body {
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 1.6;
    }
}


article,
aside,
footer,
header,
main,
nav,
section{
    display: block;
}

span {
    display: inline-block;
}

::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}

ul{
    margin-bottom: 24px;
    padding-left: 24px;
    text-align: left;
    list-style-position: outside;
}


img {
    max-width: 100%;
    height: auto;
    border: 0;
    font-style: italic;
    vertical-align: baseline;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    width: 100%;
    margin-bottom: 24px;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    padding: 12px 0;
}

thead th {
    background-color: #efefef;
}

tr {
    margin-bottom: 12px;
    background-color: #fff;
}

th,
td {
    padding: 12px 6px;
    border: 0.1rem solid #e4e9eb;
    text-align: center;
}

tfoot tr {
    background: none;
}

tfoot td {
    padding: 24px 6px;
    font-size: 14px;
    font-style: italic;
}




















.grid {
    list-style: none;

}


.grid__item {
    display: inline-block;

    width: 100%;

    vertical-align: top;

}
.grid__item--flexed {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.grid--flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media screen and (min-width: 48em) {
    .grid--flex {
        flex-direction: row;

        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
}


.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media screen and (min-width: 48em) {
    .flex {
        flex-direction: row;

        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
    }
}

.flex--row {
    flex-direction: row;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.flex--wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-j--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex--j-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.wrap {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper--wide {
    width: 100%;
    max-width: 100%;
}

.site-container {
    overflow: hidden;
}




.page-title__main,
.page-title__sub {
    margin-bottom: 0;
    font-weight: 300;
}

.page-title__main {
    -webkit-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
}
.page-title__main a {
    color: currentColor;
}

.page-title__sub {
    opacity: 0.8;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}


.shadow--z1 {
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.shadow--z2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

.shadow--z3 {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}
button,
.button,
.menu__item > a,
.button--tab {
    display: inline-block;
    flex-direction: row;
    padding: 12px 24px;
    border-width: 0;
    border-radius: 2px;
    outline: 0;
    color: rgba(255, 255, 255, 0.9);
    background-color: #476fba;
    font: inherit;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}
.menu__item > a{
    color: inherit;
    background-color: transparent;
}


.button--tab {
    overflow: hidden;
    position: relative;
    background-color: transparent;
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.button--tab:before {
    position: absolute;
    z-index: -1;
    right: 50%;
    bottom: 0;
    left: 50%;
    height: 4px;
    background: #fff;
    content: "";
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: left, right;
    transition-property: left, right;
}


.menu__list {
    margin: 0;
    padding: 0;
}

.menu__item > a {
    width: 100%;
}

.menu--horizontal {
    white-space: nowrap;
}

.menu--horizontal .menu__list {
    display: block;
    width: 100%;
}
@media screen and (min-width: 48em) {
    .menu--horizontal .menu__list {
        display: inline-block;
        width: auto;
    }
}


.menu--horizontal .menu__item{
    zoom: 1;
}
@media screen and (min-width: 48em) {
    .menu--horizontal .menu__item{
        display: inline-block;

        *display: inline;
    }
}

.menu-toggle {
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 0;
    background-color: transparent;
    font-size: 11px;

    -webkit-tap-highlight-color: transparent;
}

.menu-toggle span {
    display: block;
}

.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
    width: 100%;
    height: 0.2em;
    background-color: #fff;
}

.menu-toggle span:before,
.menu-toggle span:after {
    position: absolute;
    top: -0.55em;
    left: 0;
    content: " ";
}

.menu-toggle span:after {
    top: 0.55em;
}

.menu-primary {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
}


@media screen and (min-width: 48em) {
    .header-wrap {
        height: 100%;
    }
    .menu-toggle {
        display: none;
    }
    .menu-primary {
        position: relative;
        width: 100%;
        -webkit-transition: none;
        transition: none;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


.entry__meta {
    margin-bottom: 0;
    color: #6c6c6c;
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}
.entry__meta a {
    color: currentColor;
    font-weight: inherit;
}


.widget {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-width: 300px;
}
@media screen and (min-width: 48em) {
    .widget {
        min-width: 33%;
    }
}
.widget__wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
}

.screen-reader-text{
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.entry-content:before,
.entry-content:after,
.site-header:before,
.site-header:after{
    display: table;
    content: "";
}
.entry-content:after,
.site-header:after{
    clear: both;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.br {
    border-radius: 2px;
}

.t-bg__white{
    color: rgba(0, 0, 0, 0.9);
    background-color: #fff;
}

.t-bg__tint {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(88, 109, 120, 0.6);
}

.t-bg__frost {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(228, 233, 235, 0.6);
}

.t-bg__1--glass {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(56, 89, 150, 0.8);
}

.t-fill__2--dark {
    fill: #319b5c;
}

.t-fill__2--light {
    fill: #64ce8f;
}

.u-p\@all {
    padding: 12px;
}
@media screen and (min-width: 48em) {
    .u-p\@all {
        padding: 24px;
    }
}
@media screen and (min-width: 64em) {
    .u-p\@all {
        padding: 48px;
    }
}
.site-title,
.entry__title {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6;
    line-height: 1;
}
@media screen and (min-width: 48em) {
    .site-title,
    .entry__title {
        font-size: 36px;
        font-size: 2.25rem;
    }
}
.widget-title{
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}
@media screen and (min-width: 48em) {
    .widget-title{
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1;
    }
}

.action-bar-wrap {
    flex-direction: row;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media screen and (min-width: 48em) {
    .action-bar-wrap {
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-pack: distribute;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
}

.header-wrap {
    text-align: center;
}

.site-branding {
    text-shadow: 0 2px rgba(62, 71, 76, 0.4);
}

.site-title a {
    font-weight: 400;
    letter-spacing: 2px;
}

.toggle__title {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.8461538462;
}

.site-branding {
    padding: 24px;
}

.toggles.grid {
    max-width: 100%;
}

.toggle {
    width: auto;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    text-align: center;
}

.panel {
    display: none;
    width: 100%;
    margin: 0;
}

.toggle-img {
    display: block;
    max-width: 38px;
    max-height: 38px;
    margin: 0 auto;
}

.site-header {
    background-attachment: scroll;
}
@media screen and (min-width: 48em) {
    .site-header {
        background-attachment: fixed;
    }
}

.widget li:last-of-type,
.widget ul:last-of-type,
p:last-of-type {
    margin-bottom: 0;
}

.entry-content a:not(.button) {
    border-bottom: 1px solid transparent;
    color: #385996;
}

.panel {
    display: block;
    overflow: hidden;
    z-index: 1;
    max-height: 0;
    opacity: 0.5;

    -webkit-transition: max-height 0.1s cubic-bezier(0, 0, 0, 1.01), opacity 0.5s ease;
    transition: max-height 0.1s cubic-bezier(0, 0, 0, 1.01), opacity 0.5s ease;
}

.close-btn {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: grey;
    background-color: white;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
}
